/*Font*/

@font-face {
    font-family: OratorStd;
    src: url('../font/OratorStd.otf');
}

@font-face {
    font-family: OratorStd-Slanted;
    src: url('../font/OratorStd-Slanted.otf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../font/Raleway-Bold.ttf');
}

body,
html {
    width: auto !important;
    overflow-x: hidden !important;
}

.container-fluid {
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.promo h4 {
    color: #bf1e2d;
    font-size: 30px;
    font-weight: bold;
    font-family: "Raleway-Bold";
}

.promo p {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin: 20px 0;
    display: block;
}

.promo span {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
    display: block;
    border: 1px solid #af0f1e;
    padding: 17px 0;
    border-radius: 4px;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.header {
    background-image: url('../image/home-header.jpg');
    min-height: 200px;
    width: 100%;
    background-size: cover;
    margin: 0;
}

.steps-page .header {
    height: 179px;
    background-position: inherit;
}

.menu {
    background: rgba(0, 0, 0, 0.55);
    padding: 10px 0 !important;
    min-height: 200px;
    height: 100%;
}

.menu .row {
    position: relative;
}

.menu .navigation {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu .navbar {
    margin-bottom: 0;
}

.menu .nav>li>a {
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    font-family: "Myriad Pro";
    padding: 0;
    transition: all 0.5s ease;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.menu .logo-mobile {
    display: none;
}

.menu .nav>li.active>a {
    border-bottom: 2px solid #fff;
}

.menu .nav>li>a:hover {
    border-bottom: 2px solid #fff;
}

.menu .navbar-nav>li {
    padding: 0 25px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: none;
}

.menu .nav .dropdown {
    line-height: 40px;
}

.menu .nav .dropdown .btn {
    background-color: #bf1e2d;
    color: #fff;
}

.reservation {
    background: rgba(0, 0, 0, 0.55);
    margin-top: 25px;
}

.reservation label {
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    color: #fff;
}

.reservation select.form-control {
    width: 100%;
}

.reservation .row.form-inline {
    margin: 0;
    padding: 31px 20px 0 20px;
}

.reservation #datepicker-depart,
.reservation #datepicker-retour {
    width: 100%;
}

.reservation .button a {
    text-decoration: none;
}

.reservation .button {
    padding: 31px 0;
}

.reservation .col-xs-3.form-group {
    padding-left: 0;
}

.reservation .button input {
    font-family: "Open Sans";
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 17px 0;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    width: 100%;
    margin: auto;
}

.reservation .button .col-xs-6 {
    float: none;
    margin: auto;
}

.reservation .button input:hover {
    background: #bf1e2d;
}

.reservation span.filter-option.pull-left {
    padding: 5px;
}

.reservation .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    border-right: 1px solid #c2c2c2;
    padding: 7px;
}

.reservation .btn {
    padding-top: 0;
    padding-bottom: 0;
}

.reservation .btn-default {
    border: none;
}

.reservation .bootstrap-select.btn-group .dropdown-toggle .caret {
    color: #cccccc;
}

.reservation .bootstrap-select>.dropdown-toggle {
    padding-right: 31px;
}

.reservation .form-inline .form-group {
    padding-left: 0;
}

.after-header {
    background: #bf1e2d;
    padding: 25px 0;
    position: relative;
    display: none;
}

.steps-page .after-header {
    display: none;
}

.after-header:before {
    font-family: 'FontAwesome';
    content: "..................................................................................................................................................................................................................................................................................................................................................";
    font-size: 47px;
    display: block;
    color: #af0f1e;
    position: absolute;
    ;
    top: -49px;
    letter-spacing: -3px;
}

.after-header h3 {
    font-family: "OratorStd";
    font-size: 48px;
    line-height: 41px;
    color: #fff;
    margin: 25px 0;
    display: inline-block;
}

.after-header img {
    display: inline-block;
    vertical-align: top;
}

.page-content {
    background-image: url('../image/backg.jpg');
    width: 100%;
    height: 100%;
    min-height: 600px;
}

.page-content h2 {
    color: #bf1e2d;
    font-size: 50px;
    font-weight: bold;
    font-family: "Raleway-Bold";
    overflow: hidden;
}

.page-content h2:after {
    font-family: 'FontAwesome';
    content: "..................................................................................................................................................................................................................................................................................................................................................";
    font-size: 31px;
    display: block;
    margin-bottom: -5px;
}

.page-content .page-text p {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin: 20px 0;
}

.page-content .page-text {
    margin-top: 55px;
}

.page-content .services {
    background: #bf1e2d;
    margin-top: -10px;
    padding: 82px 0;
}

.page-content .services h4 {
    font-family: "Open Sans";
    font-size: 26px;
    color: #fff;
    margin: 30px 0 20px 0;
}

.page-content .services p {
    font-family: "Open Sans";
    font-size: 16px;
    color: #fff;
    line-height: 26px;
}

.page-content .page-table {
    border: 1px solid #bf1e2d;
    margin-top: -7px;
    margin-bottom: 100px;
}

.page-content .page-table table td {
    font-family: "Open Sans";
    font-size: 16px;
    color: #000;
    line-height: 38px;
}

.page-content .page-table table tr:nth-child(even) {
    background: #f8e6e8;
}

.page-content .page-table table {
    width: 100%;
    font-size: 16px;
    line-height: 38px;
}

.page-content .page-table table th,
.page-content .page-table table td {
    padding: 0 10px;
}

.page-content .page-table .header-table {
    background: #bf1e2d;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
}

.page-content .option {
    background: #e2dfdf;
    padding: 15px 0 65px 0;
}

.page-content .option:before {
    font-family: 'FontAwesome';
    content: "..................................................................................................................................................................................................................................................................................................................................................";
    font-size: 47px;
    display: block;
    color: #af0f1e;
    position: relative;
    top: -64px;
    letter-spacing: -3px;
}

.page-content .option-label {
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: bold;
    background: #bf1e2d;
    width: 10%;
    border-radius: 13px;
    color: #fff;
    margin: auto;
}

.page-content .option h4 {
    font-family: "Open Sans";
    font-size: 24px;
    color: #bf1e2d;
}

.page-content .option .question {
    text-align: left;
}

.page-content .option .question p.collapsed {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #333 !important;
    margin: 15px 0;
    font-weight: bold;
}

.page-content .option .question p {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #bf1e2d;
    margin: 15px 0;
    font-weight: bold;
    cursor: pointer;
}

.page-content .option .question p.collapsed:before {
    content: "";
    display: inline-block;
    background-image: url('../image/arrow.png');
    width: 19px;
    height: 21px;
    margin-right: 10px;
    vertical-align: middle;
}

.page-content .option .question p:before {
    content: "";
    display: inline-block;
    background-image: url('../image/arrow-up.png');
    width: 19px;
    height: 21px;
    margin-right: 10px;
    vertical-align: middle;
}

.page-content .option .question .answer {
    width: 91%;
    margin-left: 9%;
    font-size: 15px;
    color: #777;
    margin-top: -15px;
}

footer {
    background: #716f6f;
}

footer .container {
    padding: 0;
}

footer .col-sm-8,
footer .col-sm-4 {
    padding: 0;
}

.social span:first-of-type {
    color: #cccccc;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    margin-right: 10px;
}

.social span:last-of-type {
    background-image: url(../image/facebook-logo.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: bottom;
    transition: all 0.8s;
}

.social-menu span {
    background-image: url(../image/facebook-logo.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.8s;
    margin-top: -10px;
}

.menu .nav li.social-menu a:hover {
    border-bottom: 2px solid transparent;
}

.menu .nav li.social-menu a:hover span {
    background-image: url(../image/facebook-logo-hover.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.8s;
}

.social a:hover span:last-of-type {
    background-image: url(../image/facebook-logo-hover.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: bottom;
    transition: all 0.8s;
}

.social {
    margin: 10px 0;
}

footer p {
    color: #cccccc;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}

.button-login,
.button-login.name-acc {
    font-size: 16px;
    color: #fff;
    font-family: "Myriad Pro";
    transition: all 0.5s ease;
    display: inline-block;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    padding-bottom: 5px;
}

.button-login:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}

.modal-open .modal {
    padding: 0 !important;
}

.modal-dialog {
    width: 30% !important;
}

.modal-title {
    display: inline-block;
}

.button-login.name-acc span {
    background-image: url('../image/user-silhouette.png');
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;
    transition: all 0.5s ease;
}

.button-login.name-acc:hover span {
    background-image: url('../image/user-silhouette-h.png');
}

.button-login.name-acc:hover {
    border-bottom: 2px solid transparent;
}


/*------- ERRORS ------*/

.alert.alert-danger li {
    background: #fff;
    background-image: url("/eli/css/images/alert-danger-icon.png");
    background-repeat: no-repeat;
    background-position: center left 3px;
    border-radius: 4px;
    padding: 10px 0;
    margin-bottom: 5px;
    text-indent: 30px;
    list-style-type: none;
}

.alert.alert-danger {
    width: 57%;
    margin: 10px auto;
    background: none;
    z-index: 10;
    border: none;
}

.sortie-page .alert.alert-danger {
    width: 48%;
    margin: auto;
    background: none;
    z-index: 10;
}

.sortie-page .alert.alert-danger li {
    border: 1px solid #bf1e2d;
}

@media only screen and (min-width: 320px) and (max-width: 1022px) {
    .sortie-page .alert.alert-danger {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .alert.alert-danger {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .alert.alert-danger li {
        font-size: 13px!important;
    }
}


/* ---- End Errors -----*/

.header .reservation-error {
    position: relative;
}

.steps-page .reservation-error {
    display: none;
}


/*----------notre-service-page---------------*/

.notre-service-page .page-content .service {
    margin-top: 70px;
    margin-bottom: 35px;
}

.notre-service-page .page-content .subtitle {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
}

.notre-service-page .page-content .page-text {
    margin-top: 30px;
}

.notre-service-page .page-content .page-text p {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin: 20px 0;
}

.notre-service-page .page-content .option-label {
    margin: auto;
    display: inline-block;
    padding: 5px 8px;
    margin-right: 25px;
    width: inherit;
    border-radius: 25px;
}

.notre-service-page .page-content h3 {
    font-family: "Raleway-Bold";
    font-size: 40px;
    color: #bf1e2d;
    display: inline-block;
}


/*---------reservation-------------*/

.reservation-page .header,
.panier-page .header,
.sortie-page .header {
    min-height: 200px;
    background-position: inherit;
}

.reservation-page .header .reservation form,
.panier-page .header .reservation form,
.sortie-page .header .reservation form {
    display: none;
}

.reservation-page .header:after,
.panier-page .header:after,
.sortie-page .header:after {
    /*top: 285px;*/
    top: -49px;
}

.reservation-page .header .container,
.panier-page .header .container,
.sortie-page .header .container {
    display: none;
}

.page-content .reservation {
    background: #3d3d3d;
    margin-top: -10px;
    padding: 30px;
    margin-bottom: 80px;
    position: relative;
}

.page-content .reservation .container {
    border: 2px solid #696969;
    width: 100%;
}

.page-content .reservation form .col-sm-8 {
    padding: 0;
}

.page-content .reservation form .col-sm-4 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
}

.page-content .reservation .row.form-inline {
    padding: 30px 60px;
}

.page-content .reservation p {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.page-content .form-inline .form-control {
    width: 100%;
}

.page-content .reservation .button {
    padding: 25px 0;
}

.page-content .reservation .button p {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    width: 20%;
    margin: auto;
}

.page-content .reservation label.form-check-label {
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-top: 10px;
    line-height: 1.42857143;
}

.page-content .reservation img {
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background: #fff;
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 17px;
    /* position the image */
    float: left;
    /* position the image */
}

.page-content .reservation label.form-check-label.none {
    margin-left: 60px;
    /* moving left lable */
}

.page-content .reservation .form-check {
    display: inline-block;
    width: 100%;
}

.additional {
    padding-top: 30px;
}


/*custom radio button and checkbox*/

.regular-checkbox {
    display: none;
}

.regular-checkbox+label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
}

.regular-checkbox+label:active,
.regular-checkbox:checked+label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked+label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.regular-checkbox:checked+label:after {
    content: '\2714';
    font-size: 27px;
    position: absolute;
    top: -13px;
    left: 1px;
    color: #af0f1e;
}

.big-checkbox+label {
    padding: 18px;
}

.big-checkbox:checked+label:after {
    font-size: 28px;
    left: 6px;
}

.tag {
    font-family: Arial, sans-serif;
    width: 200px;
    position: relative;
    top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
}

.radio-1 {
    width: 193px;
}

.button-holder {
    float: left;
}


/* RADIO */

.regular-radio {
    display: none;
}

.regular-radio+label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
}

.regular-radio:checked+label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #af0f1e;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked+label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.regular-radio+label:active,
.regular-radio:checked+label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.big-radio+label {
    padding: 16px;
}

.big-radio:checked+label:after {
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
}


/*------------START STEP NAVIGATION -------------------*/

.step_navigation {
    width: 600px;
    margin: 0 auto;
}

.steps {
    list-style: none;
    overflow: hidden;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 500;
    margin: 20px 0;
    padding: 0;
}

.steps li {
    float: left;
}

.steps li a {
    color: #af0f1f;
    text-decoration: none;
    padding: 10px 0 10px 55px;
    background: #fff;
    position: relative;
    display: block;
    float: left;
}

.steps li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.steps li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #af0f1e;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.steps li:first-child a {
    padding-left: 37px;
}

.steps li.current a {
    background-color: #af0f1e;
    color: #fff;
}

.steps li.current a::after {
    border-left-color: #af0f1e;
}

@media (min-width: 320px) and (max-width:767px) {
    .steps {
        display: none;
    }
}


/*------------END STEP NAVIGATION -------------------*/


/*------------RESERVATION FORM -------------------*/

.reservationNew {
    display: block;
}

.reservationform_wrapper {
    width: 100%;
    background: #000;
    padding-bottom: 30px;
    text-align: center;
}

.input-inline label,
.input-inline_time label {
    color: #fff;
    display: block;
    padding: 10px 0;
    font-weight: bold;
    text-align: left;
    text-indent: 0;
    line-height: 1.42857143;
    margin-bottom: 5px;
}

.input-inline,
.input-inline_time {
    width: 267px;
    display: inline-block;
}

.input-inline,
.input-inline_time input {
    width: 267px;
    height: 34px;
    border-radius: 4px;
    border: none;
    text-indent: 17px;
    color: #a1a1a1;
    font-size: 14px;
}

.form_control,
.form_control_time {
    position: relative;
}

.form_control:after,
.form_control_time:after {
    content: "";
    display: block;
    position: absolute;
    width: 46px;
    height: 34px;
    right: -3px;
    background: #af0f1e;
    top: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.form_control:before {
    content: url("/eli/css/images/calendar.png");
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 1;
}

.form_control_time:before {
    content: url("/eli/css/images/clock.png");
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 1;
}

.form_row {
    display: inline-block;
}

.input-inline {
    margin-right: 10px;
}

.input-inline_time {
    margin-right: 10px;
    width: 168px;
}

.input-inline_time input {
    width: 168px;
    height: 34px;
}

@media (min-width: 320px) and (max-width:767px) {
    .reservationform_wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .input-inline_time {
        width: 267px;
    }
    .input-inline_time input {
        width: 267px;
    }
    .input-inline label,
    .input-inline_time label {
        font-size: 13px !important;
        padding-bottom: 0;
    }
}

.hasError {
    background: #ffe6e8;
}


/*----- TIMEPICKER WRAPPER -------*/

.ui-timepicker-wrapper {
    min-width: 270px;
    max-width: 270px;
}

.ui-timepicker-wrapper {
    min-width: 170px;
    max-width: 170px;
}


/*------------RETURN BUTTON---------------*/

.return_button {
    display: block;
}

@media (min-width: 767px) {
    .return_button {
        display: none;
    }
}

.step_five.return_button {
    font-family: "Open Sans";
    font-size: 16px;
    color: #af0f1e;
    background: #e9e7e7;
    text-transform: uppercase;
    font-weight: 600;
    width: 150px;
    outline: none!important;
    margin: 0 auto;
    background-image: url("/image/Icon_return.png");
    background-repeat: no-repeat;
    background-position: left 15% center;
    text-align: center;
}

.return_button {
    font-family: "Open Sans";
    font-size: 16px;
    color: #af0f1e;
    border: none !important;
    text-transform: uppercase;
    font-weight: 600;
    width: 90px;
    text-align: right;
    outline: none !important;
    margin: 0 auto;
    background-image: url(/image/Icon_return.png);
    background-repeat: no-repeat;
    background-position: left 5% center;
    background-color: #3d3d3d;
}

.return_button:hover {
    color: #af0f1e;
}

/*.return_button:active {
    background-image: url("/image/Icon_return_white.png");
    background-repeat: no-repeat;
    background-position: left 15% center;
    color: white;
}*/
/*------------RETURN BUTTON---------------*/


/*------------START TABLE RESERVATION OPTIONS---------------*/

@media (min-width: 768px) {
    .col-sm-5.center {
        width: 41.66666667%;
        margin-left: 25%;
    }
}

h3.step_title {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 22px;
}

.center-row {
    padding: 0 15px;
}

/*COMMENTED FOR DATEPICKER*/
/*table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 20px 0;
}

thead tr {
    border: 1px solid #bf1e2d;
}

tbody tr {
    background: #f8f8f8;
    border: 1px solid #fff;
}

table th,
table td {
    text-align: left;
    font-size: 14px;
    padding: 3px 5px;
}

table th {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background: #bf1e2d;
    padding: 10px 0;
    font-size: 15px;
}

.bold-text {
    font-weight: bold;
}

.bold-text.pink {
    background: #f8e6e8;
}

.table label {
    color: #000;
    font-size: 14px;
    margin: 0;
}

.italic-text {
    font-style: italic;
    font-weight: 400;
}*/


/*------- Custom checkbox ----------*/

.box {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

tbody tr:hover {
    /* background: #e3e1e1; */
    opacity: 0.8;
}

.box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 24%;
    left: 13%;
    width: 15px;
    height: 15px;
}

.box .checkmark {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #bf1e2d;
    background: #f8f8f8;
    border-radius: 3px;
    content: '';
    top: 24%;
    left: 13%;
}

.box .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.box input:checked~.checkmark:after {
    display: block;
}

.box .checkmark:after {
    left: 7px;
    top: -7px;
    width: 6px;
    height: 16px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* @media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #fff;
        display: block;
        margin-bottom: 5px;
    }
    table td {
        border-bottom: 1px solid #fff;
        display: block;
        text-align: right;
    }
    td.box {
        text-align: left;
    }
    .bold-text.pink {
        background: #f8f8f8;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    td ul li {
        list-style-type: none;
    }
    table th {
        font-size: 14px;
    }
    table th,
    table td {
        font-size: 12px;
    }
} */


/*------------END TABLE RESERVATION OPTIONS---------------*/


/*------------Contact----------------*/

#googleMap {
    width: 100%;
    height: 448px;
    /*border-bottom: 4px dotted #af0f1e;*/
}

#googleMap:after {
    font-family: 'FontAwesome';
    content: "..................................................................................................................................................................................................................................................................................................................................................";
    font-size: 31px;
    display: block;
    margin-bottom: -7px;
    z-index: 999999;
    position: relative;
    top: 416px;
    color: #af0f1e;
}

#googleMap2 {
    width: 100%;
    height: 448px;
    /*border-bottom: 4px dotted #af0f1e;*/
}

#googleMap2:after {
    font-family: 'FontAwesome';
    content: "..................................................................................................................................................................................................................................................................................................................................................";
    font-size: 31px;
    display: block;
    margin-bottom: -7px;
    z-index: 999999;
    position: relative;
    top: 416px;
    color: #af0f1e;
}

.contact-page .page-content {
    background: #e2dfdf;
}

.contact-info {
    margin: 40px 0;
}

.contact-info img {
    background: #bf1e2d;
    padding: 10px;
    border-radius: 20px;
}

.contact-info p {
    font-family: "Open Sans";
    font-size: 22px;
    line-height: 26px;
    color: #bf1e2d;
    font-weight: bold;
    margin-top: 25px;
    padding: 0 50px;
}

.contact-info-open p {
    font-family: "Open Sans";
    font-size: 22px;
    line-height: 26px;
    color: #bf1e2d;
    font-weight: bold;
    margin-top: 25px;
    padding: 0 40px;
}


/*-----------testimonials --------------*/

.testimonials {
    margin: 45px 0;
}

.testimonials p {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    height: 78px;
    overflow: hidden;
    width: 80%;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.testimonials h4 {
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: bold;
    color: #333333;
}

.testimonials .col-sm-3 {
    padding: 30px 0;
    border: 1px solid #cfcfcf;
    background: #fff;
    margin: 0 15px;
    width: 23%;
}

.testimonials .col-sm-3:first-of-type {
    margin-left: 0;
}

.testimonials .col-sm-3:last-of-type {
    margin-right: 0;
}

.testimonials .stars .fa {
    font-size: 23px;
    color: #cccccc;
}

.testimonials .stars .yellow {
    color: #ffc700;
}

.contact-form {
    margin: 0;
}

.contact-form label {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
    margin-top: 10px;
}

.contact-form .stars {
    display: inline-block;
    margin-left: 20px;
}

.contact-form textarea {
    resize: none;
    height: 330px;
}

.contact-form .button {
    font-family: "Open Sans";
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 13px 68px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    margin: 30px 0 53px 0
}


/*-----------sortie-page---------------*/

.sortie-info {
    background: #e9e7e7;
    margin-top: -10px;
    padding: 30px 0;
}

.sortie-info img {
    background: #bf1e2d;
    padding: 10px 15px;
    border-radius: 18px;
    display: block;
    margin: auto;
}

.sortie-info .question p.collapsed:before {
    content: "";
    display: inline-block;
    background-image: url(../image/arrow.png);
    width: 19px;
    height: 21px;
    margin-right: 10px;
    vertical-align: middle;
}

.sortie-info .question p:before {
    content: "";
    display: inline-block;
    background-image: url(../image/arrow-up.png);
    width: 19px;
    height: 21px;
    margin-right: 10px;
    vertical-align: middle;
}

.sortie-info .question p {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #333;
    margin: 15px 0;
    font-weight: bold;
}

.sortie-info .question p span {
    color: #bf1e2d !important;
    cursor: pointer;
}

.sortie-info .question .answer {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}

.sortie-info .question label {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
}

.sortie-info .question .button {
    font-family: "Open Sans";
    font-size: 16px;
    /* color: #fff; */
    color: #af0f1e;
    text-transform: uppercase;
    /* background: #af0f1e; */
    background-color: #e9e7e7;
    border: 1px solid #af0f1e;
    padding: 13px 40px;
    border-radius: 4px;
    font-weight: 600;
    /* border: none; */
    margin: 30px 0 25px 0;
    display: block;
}

.savepass {
    position: relative;
    margin: 20px auto;
}

.savepass label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.savepass label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.savepass label:hover::after {
    opacity: 0.5;
}

.savepass input[type=checkbox] {
    visibility: hidden;
}

.savepass input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.sortie-info label.form-check-label {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    margin-bottom: 0;
}

.sortie-info label.form-check-label label {
    margin-bottom: 0;
}

.sortie-info .question span {
    color: #bf1e2d !important;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    color: #333;
    margin: 15px 0;
    font-weight: bold;
}


/*----- save pass checkbox -------*/

.red-link {
    color: #af0f1e;
    padding: 6px 19px;
    font-weight: bold!important;
}

.red-link:hover,
.red-link:focus {
    color: #af0f1e;
}

.save_label {
    margin-left: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

.save_box {
    position: relative;
    cursor: pointer;
}

.save_box input {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    top: -5px;
    left: 0;
    width: 15px;
    height: 15px;
}

.checkmark {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #5e5e5e;
    background: #f8f8f8;
    border-radius: 3px;
    content: '';
    top: 0;
    left: 0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.save_box input:checked~.checkmark:after {
    display: block;
}

.save_box .checkmark:after {
    left: 3px;
    top: -5px;
    width: 10px;
    height: 16px;
    border: solid #bf1e2d;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ------ end checkbox save -------*/

.sortie-info form {
    /* margin: 30px 0 20px 0; */
    margin: 20px 0 20px 0;
}

.sortie-page .contact-form .form-inline .form-group {
    width: 49%;
}

.sortie-page .contact-form .form-group {
    margin: 19px 0 10px 0;
}

.sortie-page .contact-form .form-inline .form-group:first-of-type {
    margin-right: 1%;
}

.sortie-page .contact-form h3 {
    font-family: "Open Sans";
    font-size: 24px;
    /* color: #000; */
    font-weight: 600;
    margin-bottom: 10px;
}

.step_four_title {
    font-size: 24px;
    color: #bf1e2d;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .form-inline .form-group {
        width: 49%;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

@media (min-width: 1024px) {
    .form-inline .form-group {
        width: 49%;
        margin-right: 2px;
    }
}

.red_stars {
    color: #bf1e2d;
}

.form_submit input {
    font-family: "Open Sans";
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 17px 0;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    width: 100%;
    margin: auto;
}

.sortie-page .contact-form {
    margin-top: 45px;
    position: relative;
}

.sortie-page .contact-form #adresse {
    margin-bottom: 20px;
}

.sortie-page .contact-form label.form-check-label label {
    margin-bottom: 0;
}

.sortie-page .contact-form textarea {
    resize: none;
    height: 140px;
}

.sortie-page .page-content .container {
    padding: 0;
}

.sortie-page .contact-form .form-check-label {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bababa;
    font-size: 16px;
    font-family: "Open Sans"
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #bababa;
    font-size: 16px;
    font-family: "Open Sans"
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #bababa;
    font-size: 16px;
    font-family: "Open Sans"
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #bababa;
    font-size: 16px;
    font-family: "Open Sans"
}

.prices {
    margin: 0;
    margin-top: 55px;
    /* margin-bottom: 80px; */
}

.prices h4 {
    font-family: "Open Sans";
    font-size: 24px;
    color: #af0f1e;
    font-weight: 600;
    margin-bottom: 30px;
}

.prices table {
    width: 100%;
    border: 1px solid #cccccc;
    background: #eaeaea;
}

.prices table th {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    background: #fff;
    padding: 17px 30px;
}

.prices table td {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    ;
    color: #000;
    padding: 17px 30px;
}

.prices table tr:nth-child(even) {
    background-color: #f8e6e8;
}

.prices table tr:nth-of-type(odd) {
    background-color: #f8f8f8;
}

.prices table tr:last-of-type {
    background-color: #eaeaea;
    border-top: 1px solid #fff;
}

.prices table th:nth-of-type(2) {
    width: 30%;
}

.payment-method {
    margin: 0;
}

.payment-method .regular-radio+label,
.payment-method .form-check-label p,
.payment-method .form-check-label span {
    display: inline-block;
}

.payment-method .form-check-label p {
    font-family: "Open Sans";
    font-size: 16px;
    color: #000;
    margin-right: 20px;
    font-weight: normal;
    border-bottom: none;
    padding: 0;
    margin-bottom: 0;
}

.payment-method p {
    font-family: "Open Sans";
    font-size: 15px;
    color: #000;
    font-style: italic;
    border-bottom: 1px solid #a8a8a8;
    padding: 23px 0 26px 0;
    margin-bottom: 25px;
}

.payment-method .form-check-label span {
    font-family: "Open Sans";
    font-size: 16px;
    color: #bf1e2d;
    margin: 0 15px 0 10px;
    font-weight: bold;
}

.sortie-page .page-content .button {
    font-family: "Open Sans";
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 13px 40px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    margin: 40px 0 10px 0;
    float: right;
}

.step_three.button {
    font-family: "Open Sans";
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 13px 40px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    margin: 10px 0 10px 0;
}

.step_four.button {
    font-family: "Open Sans";
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 13px 68px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    margin: 30px 0 53px 0
}

.step_five.button {
    font-family: "Open Sans";
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 13px 40px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    /* margin: 40px 0 10px 0; */
    margin: 0 0 10px 0;
}

.go-to-register-text {
    font-size: 20px;
    /* margin-top: 75px; */
    margin-top: 15px;
}

.go-to-register {
    display: inline-block;
    font-family: "Open Sans";
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 13px 40px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    /* margin: 40px 0; */
    margin: 20px 0;
}

.go-to-register:hover,
.go-to-register:focus {
    color: #fff;
    text-decoration: none
}

.shop-car {
    margin-right: 15px;
    background-image: url(../image/shopping-cart.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.shop-car:hover {
    margin-right: 15px;
    background-image: url(../image/shopping-cart-h.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}


/*----------panier-page------------*/

.panier-page .car {
    margin: 45px -15px;
}

.panier-page .car .col-sm-8,
.panier-page .car .col-sm-4 {
    padding: 0;
}

.panier-page .car img {
    background: #bf1e2d;
    padding: 13px 10px;
    border-radius: 20px;
}

.panier-page .car p {
    display: inline-block;
    font-family: "Open Sans";
    font-size: 16px;
    color: #000;
    margin-left: 25px;
}

.panier-page .car .button {
    font-family: "Open Sans";
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 13px 45px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
}

.panier-page .prices {
    margin: 0 -15px;
    margin-bottom: 35px;
}

.panier-page .prices table td .button {
    font-family: "Open Sans";
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
}

.panier-page .prices table td .button.grey {
    background: #acacac;
}

.panier-page .prices .col-xs-12 {
    padding: 0;
}

.panier-page .prices table td {
    padding: 17px 20px;
}

.panier-page .prices table td input {
    width: 40%;
    display: inline-block;
    height: 40px;
    margin-right: 5%;
}

.panier-page .prices table th:first-of-type {
    width: 22%;
}

.prices table th {
    padding: 17px 20px;
}

.panier-page .prices table tr.optionsTax. .cancel {
    display: inline-block;
    background-image: url("../image/close.png");
    width: 17px;
    height: 17px;
    float: right;
    cursor: pointer;
}

.panier-page .prices.total table tr:nth-last-child(2) td:last-of-type:after {
    display: none;
}

.panier-page .prices.total table th:first-of-type {
    width: 3%;
}

.panier-page .submit .button {
    font-family: "Open Sans";
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background: #af0f1e;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    margin: 6px 0 40px 0;
    text-decoration: none;
}

.panier-page .submit {
    margin-bottom: 80px;
}


/*--------------Facture---------------*/

.facture .row {
    width: 40%;
    margin: auto;
}

.facture .row:first-of-type img {
    width: 15%;
}

.facture .row:first-of-type ul {
    float: right;
    margin-right: 132px;
}

.facture ul {
    list-style: none;
    padding: 0;
}

.facture p,
.facture td {
    margin: 0;
    font-size: 12px;
}

.facture th {
    margin: 0;
    font-size: 16px;
}

.facture h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.facture h3 {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
}

.facture .col-xs-6 table {
    float: right;
}

.facture .col-xs-6 table th:first-of-type,
.facture .col-xs-6 table td:first-of-type {
    padding-right: 30px;
}

.facture .col-xs-12 table:first-of-type {
    width: 100%;
}

.facture .col-xs-12 table:first-of-type th {
    text-align: left;
    color: #fff;
    background: #000;
    padding: 10px 5px;
}

.facture .col-xs-12 table:first-of-type td span {
    font-size: 12px;
    font-style: italic;
}

.facture .col-xs-12 table:first-of-type td {
    padding: 10px 5px;
    border-bottom: 2px solid #ccc;
}

.facture .col-xs-12 table:first-of-type td:first-of-type,
.facture .col-xs-12 table:first-of-type th:first-of-type {
    width: 60% !important;
}

.facture .col-xs-12 table:last-of-type {
    width: 40%;
    float: right;
    margin-top: 30px;
}

.facture .col-xs-12 table:last-of-type td,
.facture .col-xs-12 table:last-of-type th {
    padding: 10px 5px;
}

.facture .col-xs-12 table:first-of-type td:nth-of-type(n+1),
.facture .col-xs-12 table:first-of-type th:nth-of-type(n+1) {
    width: 20%;
}

.facture .col-xs-12 table:last-of-type td:last-of-type,
.facture .col-xs-12 table:last-of-type th:last-of-type {
    padding: 10px 5px;
}

.facture .col-xs-12 table:last-of-type tr:first-of-type {
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
}

.facture .col-xs-12 table:last-of-type tr:last-of-type {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

.facture .row:last-of-type img {
    width: 100%;
}

.facture .row:last-of-type {
    border-top: 2px solid #ccc;
    margin-top: 50px;
}

.facture .col-xs-7 table {
    margin-top: -120px;
}

.facture .col-xs-7 table td:first-of-type {
    padding-right: 30px;
}

@media print {
    .facture .row {
        width: 90%;
        margin: auto;
    }
    .facture .row:first-of-type img {
        width: 25%;
    }
    .facture .row:first-of-type ul {
        float: right;
        margin-right: 115px;
    }
    .facture ul {
        list-style: none;
        padding: 0;
    }
    .facture p,
    .facture td {
        margin: 0;
        font-size: 10px;
    }
    .facture th {
        margin: 0;
        font-size: 14px;
    }
    .facture h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 5px 0;
    }
    .facture h3 {
        font-size: 14px;
        margin: 5px 0;
        font-weight: bold;
    }
    .facture .col-xs-6 table {
        float: right;
    }
    .facture .col-xs-6 table th:first-of-type,
    .facture .col-xs-6 table td:first-of-type {
        padding-right: 30px;
    }
    .facture .col-xs-12 table:first-of-type {
        width: 100%;
    }
    .facture .col-xs-12 table:first-of-type th {
        text-align: left;
        color: #fff !important;
        background: #000 !important;
        padding: 5px;
    }
    .facture .col-xs-12 table:first-of-type td span {
        font-size: 10px;
        font-style: italic;
    }
    .facture .col-xs-12 table:first-of-type td {
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }
    .facture .col-xs-12 table:first-of-type td:first-of-type,
    .facture .col-xs-12 table:first-of-type th:first-of-type {
        width: 60%;
    }
    .facture .col-xs-12 table:last-of-type {
        width: 40%;
        float: right;
        margin-top: 10px;
    }
    .facture .col-xs-12 table:last-of-type td,
    .facture .col-xs-12 table:last-of-type th {
        padding: 5px;
        width: 2%;
    }
    .facture .col-xs-12 table:last-of-type td:last-of-type,
    .facture .col-xs-12 table:last-of-type th:last-of-type {
        padding: 10px 5px;
    }
    .facture .col-xs-12 table:last-of-type tr:first-of-type {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    .facture .col-xs-12 table:last-of-type tr:last-of-type {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
    }
    .facture .row:last-of-type img {
        width: 80%;
        margin-top: 5px;
    }
    .facture .row:last-of-type {
        border-top: 2px solid #ccc;
        margin-top: 50px;
    }
    .facture .col-xs-7 table {
        margin-top: -100px;
    }
}


/*-----------video---------------*/

.play-arrow {
    background-image: url(../image/play-button.png);
    height: 64px;
    width: 64px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    margin: auto;
    top: 35%;
    z-index: 10;
    pointer-events: none;
}

.videos .play-pic {
    position: relative;
    cursor: pointer;
    background: #fff;
}

.videos .play-pic:hover img {
    opacity: 0.7;
}

.reservation-page .page-content h3 {
    font-family: "Raleway-Bold";
    font-size: 30px;
    color: #bf1e2d;
}

.videos img {
    width: 100%;
    z-index: 9;
    position: relative;
}

.videos {
    padding-bottom: 100px;
}


/*-----------Media---------------*/

@media screen and (max-width: 1200px) {
    .menu .navbar-nav>li {
        padding: 0 15px;
    }
    .menu .nav li a {
        font-size: 17px;
    }
    .reservation-page .page-content .container {
        width: 95%;
        margin: auto;
        padding: 0;
    }
    .page-content .reservation .row.form-inline {
        padding: 30px 20px;
    }
    .page-content .reservation {
        padding: 30px 0px;
    }
    footer p {
        font-size: 13px;
    }
    .testimonials .col-sm-3 {
        width: 22%;
    }
    .contact-form label {
        font-size: 16px;
    }
    .sortie-info .question span {
        font-size: 13px;
    }
    .panier-page .car p {
        font-size: 14px;
    }
    .panier-page .prices table td {
        padding: 17px 10px;
    }
    .panier-page .prices table td .button,
    .panier-page .car .button,
    .panier-page .submit .button {
        font-size: 12px;
    }
}

@media screen and (max-width: 991px) {
    .prices table th:nth-of-type(2) {
        width: 25%;
    }
    .page-content .option-label {
        width: 15%;
    }
    .page-content .reservation {
        padding: 30px 0;
    }
    .page-content .reservation label.form-check-label {
        font-size: 12px;
    }
    footer .container {
        padding: 0;
        width: 90%;
        margin: auto;
    }
    footer .container img {
        width: 100%;
        margin-left: 0 !important;
    }
    .contact-info p {
        font-size: 17px;
    }
    .testimonials .col-sm-3 {
        width: 21%;
    }
    .testimonials p {
        font-size: 13px;
    }
    .testimonials h4 {
        font-size: 17px;
    }
    .sortie-page .page-content .button {
        font-size: 16px;
    }
    .sortie-page .page-content .container {
        width: 90%;
    }
    .sortie-page .contact-form .form-inline .form-group {
        width: 48%;
    }
    .sortie-page .contact-form h3 {
        font-size: 21px;
    }
    .contact-form label {
        font-size: 11px;
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #bababa;
        font-size: 12px;
        font-family: "Open Sans"
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: #bababa;
        font-size: 12px;
        font-family: "Open Sans"
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: #bababa;
        font-size: 12px;
        font-family: "Open Sans"
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: #bababa;
        font-size: 12px;
        font-family: "Open Sans"
    }
    .prices table th {
        font-size: 15px;
    }
    .prices table td {
        font-size: 14px;
    }
    .payment-method p {
        font-size: 13px;
    }
    .sortie-page .contact-form .form-check-label {
        font-size: 13px;
    }
    .sortie-info .question label {
        font-size: 16px;
    }
    .panier-page .car img {
        padding: 8px 3px;
        width: 5%;
    }
    .panier-page .car .button {
        float: right;
        font-size: 10px;
        padding: 13px 20px;
    }
    .panier-page .car .col-sm-4 {
        width: 15%;
        float: right;
    }
    .panier-page .car .col-sm-8 {
        width: 80%;
    }
    .panier-page .prices table td .button,
    .panier-page .submit .button {
        font-size: 10px;
    }
    .panier-page .page-content .container {
        width: 90%;
    }
    .panier-page .car p {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    /*.shop-car:hover {
    margin-right: 15px;
    background-image: url(../image/shopping-cart.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }*/
    .shop-car {
        margin-right: 15px;
        background-image: url(../image/shopping-cart-h.png);
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
    }
    .social-menu span {
        background-image: url(../image/facebook-logo-hover.png);
    }
    .menu .navbar-nav>li {
        padding: 0 40px;
    }
    .menu .nav li.active a {
        border-bottom: 2px solid #bf1e2d;
    }
    .menu .nav li a:hover {
        border-bottom: 2px solid #bf1e2d;
    }
    .menu .col-md-3.col-sm-2 {
        text-align: left;
        padding: 0 25px;
    }
    .menu .logo {
        display: none;
    }
    .menu .logo-mobile {
        display: block !important;
        position: relative;
        z-index: 9999999;
        /*width: 30%;*/
    }
    .menu .nav li a {
        color: #000;
        line-height: 35px;
    }
    .menu .navbar-collapse {
        border-top: 1px solid rgba(0, 0, 0, 0.55);
    }
    .menu .navbar-toggle .icon-bar {
        background: #bf1e2d;
    }
    .menu .navbar-header .navbar-toggle {
        padding: 0 25px;
        top: -55px;
    }
    .menu .navigation {
        position: inherit;
        transform: inherit;
    }
    .menu .row {
        margin: 0;
    }
    .menu .navbar {
        width: 100%;
        z-index: 99999;
        position: absolute;
        right: 0;
        background: #fff;
        top: -30px;
    }
    .reservation {
        margin-top: 30px;
    }
    .home-page .row {
        margin-left: 0;
        margin-right: 0;
    }
    .page-content .option .question .answer {
        width: 95%;
        margin-left: 5%;
    }
    footer p,
    .reservation .button p {
        font-size: 14px;
        text-align: center;
    }
    footer img {
        margin: auto;
        display: block;
        width: 100%;
    }
    .reservation .row.form-inline {
        padding: 5px;
    }
    .bootstrap-select.btn-group:not(.input-group-btn),
    .bootstrap-select.btn-group[class*=col-] {
        /*margin-left: -15px;*/
    }
    .reservation .button {
        padding: 0;
    }
    .header {
        height: 615px;
    }
    footer .container {
        padding: 0 15px;
    }
    .page-content .option-label {
        width: 15%;
    }
    .page-content .page-table table,
    .page-content .page-table table td,
    .page-content .page-table .header-table {
        font-size: 8px;
        line-height: 26px;
    }
    .page-content h2 {
        font-size: 28px;
    }
    .option .container {
        padding: 0;
    }
    .menu {
        background: #fff;
        padding: 10px 0 !important;
    }
    .after-header img {
        width: 15%;
    }
    .page-table table tbody tr th:first-of-type:before,
    .page-table table tbody tr td:first-of-type:before {
        display: none;
    }
    .page-table table tbody tr th:before,
    .page-table table tbody tr td:before {
        content: attr(data-th);
        display: inline-block;
        margin-right: 10px;
        text-transform: uppercase;
        width: 50%;
        font-weight: 100;
        text-align: right;
        background: rgba(248, 230, 232, 0.41);
        padding-right: 10px;
    }
    .prices.total table tr th:first-of-type:before,
    .page-table table tr td:first-of-type:before {
        display: block;
    }
    .prices table tr:first-of-type {
        display: none;
    }
    .prices.total table tr:first-of-type {
        display: block;
    }
    .prices table tr td:before,
    .prices table tr td:before {
        content: attr(data-th);
        display: inline-block;
        margin-right: 10px;
        text-transform: uppercase;
        width: 50%;
        font-weight: 100;
        text-align: right;
        padding-right: 10px;
        color: #000;
        font-weight: 600;
    }
    .prices.total table tr td:before,
    .prices.total table tr td:before {
        display: none;
    }
    .prices table th,
    .prices table td {
        display: block;
        width: 100%;
    }
    .prices.total table th,
    .prices.total table td {
        display: inline-block;
        width: 50%;
    }
    .panier-page .prices.total table th:first-of-type {
        width: 100%;
        display: inline-block;
    }
    .panier-page .prices.total table th:last-of-type {
        display: none;
    }
    .page-table table tbody th,
    .page-table table tbody td {
        display: block;
        width: 100%;
    }
    .page-table table tbody th:first-of-type,
    .page-table table tbody td:first-of-type {
        background: #f8e6e8;
        font-weight: bold;
        padding: 0 10px;
        font-size: 10px;
    }
    .page-table .header-table {
        display: none;
    }
    .page-content .page-table table tr:nth-child(even) {
        background: none;
    }
    .page-content .page-table table th,
    .page-content .page-table table td {
        padding: 0;
    }
    .notre-service-page .page-content .service {
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .notre-service-page .page-content .subtitle {
        font-size: 14px;
    }
    .notre-service-page .page-content .page-text {
        margin-top: 15px;
    }
    .notre-service-page .page-content .page-text p {
        font-size: 13px;
        margin: 10px 0;
    }
    .notre-service-page .page-content h3 {
        font-size: 20px;
    }
    .notre-service-page .row {
        margin: 0;
    }
    .page-content .option-label {
        font-size: 20px;
    }
    .page-content .reservation .col-xs-12 .row {
        margin: 0 20px;
        padding: 15px 0;
    }
    .page-content .reservation .row.form-inline {
        padding: 15px 20px;
    }
    .page-content .reservation .button p {
        width: 30%;
    }
    .header:after {
        top: -16px;
    }
    .testimonials .col-sm-3 {
        width: 100%;
        margin: 10px 0;
        padding: 10px 0;
    }
    .testimonials img {
        text-align: left;
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
    }
    .testimonials p {
        margin: 0;
        display: inline-block;
        width: 85%;
    }
    .contact-form textarea {
        height: 150px;
    }
    .sortie-page .contact-form .form-inline .form-group {
        width: 100%;
    }
    .panier-page .car img {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    .panier-page .car .col-sm-4 {
        margin: auto;
        display: block;
        width: 100%;
    }
    .panier-page .car .button {
        float: none;
        font-size: 10px;
        padding: 13px 20px;
        margin: auto;
        display: block;
    }
    .panier-page .car .col-sm-8 {
        width: 100%;
    }
    .panier-page .car p {
        font-size: 15px;
        text-align: center;
        display: block;
        margin: 20px;
    }
    .panier-page .prices table td input {
        margin-right: 11%;
    }
    .button-login,
    .button-login.name-acc {
        color: #000;
    }
    .button-login:hover {
        border-bottom: 2px solid #000;
        color: #000;
    }
    .button-login.name-acc span {
        background-image: url('../image/user-silhouette-h.png');
        width: 24px;
        height: 24px;
        display: block;
        margin: auto;
        transition: all 0.5s ease;
    }
    .button-login.name-acc:hover span {
        background-image: url('../image/user-silhouette-h.png');
    }
    .button-login.name-acc:hover {
        border-bottom: 2px solid transparent;
    }
    .after-header {
        margin-top: 25px;
    }
    .home-page .after-header {
        margin-top: 0px;
    }
    .reservation-page .header,
    .panier-page .header,
    .sortie-page .header {
        height: 175px;
        background-position: inherit;
    }
    .home-page .header {
        height: 650px;
    }
    .header {
        height: 670px;
    }
    .testimonials-page .after-header {
        margin-top: 0px;
    }
    .videos-page .after-header,
    .contact-page .after-header {
        margin-top: 0px;
    }
}

@media screen and (max-width: 480px) {
    .menu .logo-mobile {
        width: 30%;
    }
    .header {
        height: 650px;
    }
    .home-page .header {
        height: 650px;
    }
    .after-header h3 {
        font-size: 26px;
        line-height: 75px;
        margin: 0;
    }
    footer p,
    .reservation .button p,
    .reservation label {
        font-size: 11px;
    }
    .menu .nav li a {
        font-size: 15px;
    }
    .page-content h2 {
        font-size: 20px;
        margin-top: 20px;
    }
    .page-content .page-text {
        margin: 0;
    }
    .page-content .page-text p,
    .page-content .services p,
    .page-content .option .question p.collapsed,
    .page-content .option .question p {
        font-size: 13px;
    }
    .page-content .services {
        padding: 22px 0;
    }
    .page-content .services h4,
    .page-content .option h4 {
        font-size: 16px;
    }
    .page-content .page-table table,
    .page-content .page-table table td,
    .page-content .page-table .header-table {
        font-size: 7px;
    }
    .page-content .page-table {
        margin-bottom: 20px;
    }
    .page-content .option {
        padding: 25px 0 30px 0;
    }
    .page-content .option-label {
        font-size: 18px;
    }
    .page-content .option .question .answer {
        width: 90%;
        margin-left: 10%;
    }
    .page-content .option .question .answer {
        font-size: 12px;
    }
    .notre-service-page .page-content .option-label {
        margin-right: 5px;
    }
    .notre-service-page .page-content h3 {
        font-size: 18px;
    }
    .page-content .reservation .button p {
        width: 50%;
    }
    .header:after {
        top: -44px;
    }
    .page-content .option:before {
        top: -74px;
    }
    .testimonials img {
        width: 10%;
    }
    .sortie-info .question p {
        font-size: 14px;
    }
    .sortie-info .question .answer {
        font-size: 13px
    }
    .sortie-page .page-content .button {
        font-size: 13px;
    }
    .sortie-page .contact-form h3 {
        font-size: 16px;
    }
    .prices h4 {
        font-size: 16px;
    }
    .prices .col-xs-12 {
        padding: 0;
    }
    .prices table th {
        font-size: 14px;
        padding: 10px;
    }
    .prices table td {
        font-size: 13px;
        padding: 10px;
    }
    .payment-method .form-check-label p,
    .payment-method .form-check-label span {
        font-size: 14px;
    }
    .panier-page .prices table td input {
        width: 100%;
        margin: 10px 0;
    }
    .panier-page .prices table td .button {
        width: 100%
    }
    .reservation .button input {
        font-size: 13px;
    }
    .after-header {
        margin-top: 10px;
    }
    .home-page .after-header {
        margin-top: -10px;
    }
    .reservation-page .header,
    .panier-page .header,
    .sortie-page .header {
        height: 160px;
    }
    .reservation-page .after-header {
        margin-top: 50px;
    }
}

@media screen and (max-width: 380px) {
    .reservation-page .header,
    .panier-page .header,
    .sortie-page .header {
        height: 150px;
    }
}

@media screen and (max-width: 320px) {
    footer p,
    .reservation .button p,
    .reservation label {
        font-size: 10px;
    }
    .menu .container,
    .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1 {
        padding: 0;
        margin: 0;
    }
    footer .container {
        padding: 0 15px;
    }
    .after-header h3 {
        line-height: 45px;
    }
    .after-header {
        padding: 15px 0;
    }
    .header:after {
        top: 40px;
    }
    .page-content .option:before {
        top: -74px;
    }
}


/* Reservation Type Css */

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shell {
    max-width: 1140px;
    margin: auto;
    background: #3e3e3e;
    /* padding: 100px 90px 40px; */
    padding: 0 90px 40px;
}

.shell:after {
    content: '';
    display: block;
    clear: both;
}

.checkbox-custom,
.radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
    position: relative;
}

.checkbox-custom+.checkbox-custom-label:before,
.radio-custom+.radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
    background: rebeccapurple;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom+.radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked+.radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox-custom:focus+.checkbox-custom-label,
.radio-custom:focus+.radio-custom-label {
    outline: 1px solid #ddd;
    /* focus style */
}

.cards {
    margin: 0 -15px;
}

@media screen and (min-width: 767px) {
    .cards_title {
        font-size: 25px!important;
        text-align: center;
        font-weight: 400!important;
        padding: 20px 0;
    }
}

.cards_title {
    text-align: center;
    font-weight: 400!important;
    padding: 20px 0;
}

.cards:after {
    content: '';
    display: block;
    clear: both;
}

.card {
    border-radius: 5px;
    background: #fff;
    /* color: #3e3e3e; */
    color: #bf1e2d!important;
    float: left;
    /* min-height: 207px; */
    min-height: 231px;
    min-width: 460px;
    max-width: 460px;
    /*min-height: 180px;*/
    margin-right: 30px;
    position: relative;
    /* padding: 30px 60px 35px 38px; */
    padding: 10px 30px;
    transition: ease-in-out .3s;
    font-family: "Open Sans";
    font-weight: 500;
}

.card:hover {
    cursor: pointer;
}

.card input,
.card label {
    display: none;
}

.card img {
    background-color: transparent !important;
}


/* .card.active {
    background: #b72331;
    color: #fff;
} */

.card:last-child {
    margin-right: 0;
}

.card__inner:after {
    content: '';
    display: block;
    clear: both;
}

.card .card__image {
    float: left;
    width: 30%;
}

.card .card__content {
    float: left;
    width: 70%;
    text-align: center;
}

.card .card__content h3 {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #bf1e2d;
    margin-top: 20px;
}

.card .card__content p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #bf1e2d;
    font-weight: 400;
    min-height: 70px;
}

.card .card__content h2 {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 26px;
    margin-top: 0;
    color: #bf1e2d;
}


/* .card .card__content h2:after {
    display: none;
}

.card.active .card__content h3 {
    color: #fff;
}

.card.active .card__content p {
    color: #fff;
}

.card.active .card__content h2 {
    color: #fff;
} */

.card .info {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card_button {
    width: 100%;
    display: block;
}

.card_button.disabled .choose_button {
    background: #6b6868 !important;
}

.card .choose_button {
    width: 100%;
    color: #bf1e2d;
    background: #fff;
    border-radius: 5px;
    display: block;
    border: 1px solid #bf1e2d;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 500;
    outline: none;
}

.card .choose_button.choosed {
    background-color: #bf1e2d;
    color: #fff;
    background-image: url('/image/icon_choose.png');
    background-repeat: no-repeat;
    background-position: left 35% center;
}


/* .vip-white,
.normal-white {
    display: none;
}

.vip.card .vip-white {
    display: none;
}

.vip.active .vip-white {
    display: block;
}

.vip.active .vip-red {
    display: none;
} */


/* .vip.disabled.active .vip-white {
    display: none;
}

.vip.disabled.active .vip-red {
    display: block;
}

.vip.disabled.active .info-black {
    display: block;
}

.normal.active .normal-white {
    display: block;
}

.normal.active .normal-red {
    display: none;
} */


/* .info-white {
    display: none;
}

.card.active .info-white {
    display: block;
}

.card.active .info-black {
    display: none;
} */

.card .card__tooltip {
    position: absolute;
    top: -62px;
    background: #cccccc;
    font-weight: 600;
    color: #3e3e3e;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out .3s;
}

.card .card__tooltip p {
    color: inherit;
    font-size: inherit;
    margin-bottom: 0;
}

.card .card__tooltip.active {
    opacity: 1;
    visibility: visible;
}

.info:hover .card__tooltip {
    opacity: 1;
    visibility: visible;
}

.mb-40 {
    margin-bottom: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.card .card__image img {
    position: absolute;
    left: 0;
    top: 25%;
}

.card__inner {
    position: relative;
    padding-left: 100px;
}


/* @media (min-width: 320px) and (max-width:360px) {
     .card__inner {
         position: relative;
         padding-left: 0 !important;
     }
     .card .card__image img {
         position: static;
         left: 0;
     }
 } */

@media (min-width: 320px) and (max-width:359px) {
    .card .choose_button.choosed {
        background-position: left 5% center;
    }
}

@media (min-width: 360px) and (max-width:480px) {
    .card .choose_button.choosed {
        background-position: left 20% center;
    }
}

.card .card__content {
    width: 100%;
}


/* End Reservation Type Css*/

@media (max-width: 1200px) {
    /* .container .shell {
        padding: 50px 90px;
    } */
}

@media (max-width: 1123px) {
    .card {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .card {
        /* width: 100%; */
        width: 300px;
        min-width: initial;
        max-width: initial;
    }
    .card .card__image,
    .card .card__content {
        float: none;
        width: 100%;
        text-align: center;
    }
}

p.title_contact_section {
    font-size: 28px;
}

 .vip.disabled {
    background: #6b6868 !important;
}

.vip.disabled .card__content p{
    color:#fff;
}

.vip.disabled {
    cursor: not-allowed;
}

.vip.disabled .card__content.disabled h3,
.vip.disabled .card__content.disabled p,
.vip.disabled .card__content.disabled h2 {
    color: #bf1e2d !important;
} 

.form-group {
    position: relative!important;
}

.form-group.has-error {
    position: relative!important;
}

.help-block {
    font-size: 12px;
    position: absolute;
}


.form-group.has-error .form-control {
    border-width: 2px;;
}

.mt-65 {
    margin-top: 65px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-85 {
    margin-top: 93px;
}

.mt-15-min {
    margin-top: 0px;
}
.perspective_logo{
    color: #a1a1a1!important;
    display: inline-block;
  }
.perspective_logo:after{
    content: url("../image/perspective_icon_2.png");
    display: inline-block;
    width: 26px;
    height: 16px;
    padding-left: 10px;
    
}
.form-group.has-success .form-control{
    border-width: 2px!important;
}

/* ------------------------------------------------------------ *   Reset
\* ------------------------------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

input {
  outline: none;
}