/* ------------------------------------------------------------ *    Imports
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *	Reset
\* ------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

/* ------------------------------------------------------------ *    Variables
\* ------------------------------------------------------------ */
/*  Colors  */
/*  Base body  */
/*  Links  */
/*  Shell  */
/* ------------------------------------------------------------ *	Helpers
\* ------------------------------------------------------------ */
.wrapper {
  overflow: hidden;
}

#map {
  width: 100%;
  height: 238px;
}

.youTube {
  margin-bottom: 10px;
}

.article {
  text-align: center;
  width: 600px;
  margin: auto;
  color: #fff;
}

.thankYou {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 70px 95px 45px;
  max-width: 920px;
  margin: auto;
}

.thankYou .thankYou__title {
  font-size: 64px;
  margin-bottom: 30px;
  color: #bf1e2d;
  text-transform: uppercase;
}

.thankYou p {
  margin-bottom: 30px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #505050;
  margin-top: 20px;
}

.info i {
  color: #e32b25;
  font-size: 26px;
  margin-right: 15px;
}

.info .info__title + .info__title {
  margin-left: 70px;
}

.clearfix, .cols:after, .shell:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.cols {
  margin: 0 -15px;
}

.col {
  float: left;
  padding: 0 15px;
}

.col_2of3 {
  width: 60%;
}

.col_1of2 {
  width: 50%;
}

.col_1of3 {
  width: 33.33%;
}

.col_1of4 {
  width: 25%;
}

.col_4of5 {
  width: 80%;
}

.col_1of5 {
  width: 20%;
}

.col_70p {
  width: 70%;
}

.col_30p {
  width: 30%;
}

select {
  display: none;
}

.dropdown {
  color: #fff;
  background-color: #bf1e2d;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
  height: 31px;
  line-height: 31px;
}

.dropdown:active {
  background-color: #f0f0f0 !important;
  border-color: #e4e4e4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown:after {
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  transform: origin(50% 20%);
  transition: all 0.125s ease-in-out;
  content: '';
  display: block;
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 50%;
}

.dropdown.open:after {
  transform: rotate(-180deg);
}

.dropdown.open .list {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.dropdown.open .option {
  cursor: pointer;
}

.dropdown.wide {
  width: 100%;
}

.dropdown.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.dropdown .list {
  box-sizing: border-box;
  transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  transform: scale(0.75);
  transform-origin: 50% 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
  background-color: #bf1e2d;
  border-radius: 6px;
  margin-top: 4px;
  padding: 3px 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
}

.dropdown .option {
  cursor: default;
  font-weight: 400;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}

.dropdown .option.selected {
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .col {
    float: none;
  }
  .col_1of4,
  .col_1of2,
  .col_4of5,
  .col_1of5,
  .col_70p,
  .col_30p {
    width: 100%;
  }
  .nav-lang {
    display: none;
  }
  #map {
    margin: 0 -15px;
    margin-bottom: 35px;
  }
  .info {
    display: none;
  }
  .thankYou {
    padding: 0;
  }
}

/* ------------------------------------------------------------ *	Sprite
\* ------------------------------------------------------------ */
[class^="ico-"] {
  background-image: url(images/sprite.png);
  display: inline-block;
  vertical-align: middle;
}

/* ------------------------------------------------------------ *	Base
\* ------------------------------------------------------------ */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  min-width: 320px;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
  transition: ease-in-out .3s;
}

a:hover {
  color: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8em;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
  margin-bottom: 0;
}

/* ------------------------------------------------------------ *	Shell
\* ------------------------------------------------------------ */
.shell {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px;
}

/* ------------------------------------------------------------ *	Header
\* ------------------------------------------------------------ */
.header {
  background: #161616;
  position: relative;
  color: #fff;
  padding: 17px 15px;
}

.header .logo {
  float: left;
}

.header .nav-lang {
  float: right;
}

.header_arrow:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 70px solid #212121;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 40px;
  }
}

/* ------------------------------------------------------------ *	Footer
\* ------------------------------------------------------------ */
.footer {
  padding: 10px 0;
}

.footer .copyrights {
  float: left;
  font-size: 13px;
}

.footer .credits {
  float: right;
  font-size: 13px;
}

.footer_alt {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
}

/* ------------------------------------------------------------ *	Buttons
\* ------------------------------------------------------------ */
.btn {
  display: inline-block;
  vertical-align: middle;
  transition: ease-in-out .3s;
  min-width: 225px;
  height: 56px;
  line-height: 56px;
  background: #bf1e2d;
  font-weight: 700;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 17px;
}

.btn:hover {
  opacity: .8;
}

.btn_bordered {
  background: transparent;
  border: 2px solid #bf1e2d;
  color: #bf1e2d;
  line-height: 54px;
}

.btn_alt {
  height: 41px;
  line-height: 41px;
  color: #bf1e2d;
  background: transparent;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.329412);
}

.btn_block {
  width: 100%;
  min-width: 100%;
}

/* ------------------------------------------------------------ *	Section
\* ------------------------------------------------------------ */
.section {
  padding: 35px 0;
}

.section_med {
  padding: 25px 0 45px;
}

.section_xl {
  padding: 135px 0 45px;
}

.section_solid {
  background: #212121;
}

.section_background {
  background-position: center;
  background-size: cover;
}

.section__title {
  text-transform: uppercase;
  color: #bf1e2d;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  font-size: 30px;
}

.section__title:after {
  content: url(images/title.png);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  line-height: 0;
}

.section__title-alt {
  color: #fff;
}

.section__head {
  margin-bottom: 45px;
}

.title__small {
  text-transform: uppercase;
  color: #bf1e2d;
  font-size: 19px;
}

/* ------------------------------------------------------------ *	Intro
\* ------------------------------------------------------------ */
.intro {
  background: #212121;
  position: relative;
}

.intro .article {
  margin-bottom: 40px;
}

.intro .intro__actions {
  text-align: center;
}

.intro .intro__head {
  padding: 30px 0 25px;
  text-align: center;
}

.intro .intro__head h1 {
  font-size: 64px;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.intro .intro__head h1 span {
  font-weight: 400;
}

.intro_arrow:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 70px solid #212121;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

.intro_arrow:after {
  content: url(images/arrow.png);
  position: absolute;
  bottom: -110px;
  left: 50%;
  transform: translateX(-50%);
}

nav.menu ul li a {
  color: #fff !important;
}

/* ------------------------------------------------------------ *	Form
\* ------------------------------------------------------------ */
.form_center {
  max-width: 600px;
  background: white;
  margin: auto;
  padding: 37px 66px;
}

.form__row {
  margin-bottom: 24px;
}

.form__actions {
  text-align: center;
  margin-top: 35px;
}

@media (max-width: 767px) {
  .form_center {
    max-width: 100%;
    padding: 17px 26px;
  }
}

/* ------------------------------------------------------------ *	Form elements
\* ------------------------------------------------------------ */
.field {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
  width: 100%;
  outline: 0;
  font-weight: 600;
  font-family: inherit;
}

.field_alt {
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.label_block {
  display: block;
  margin-bottom: 5px;
}

.form__control {
  position: relative;
}

.form__icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 43px;
  height: 40px;
  line-height: 40px;
  background: #bf1e2d;
  text-align: center;
  color: #fff;
  font-size: 24px;
  border-radius: 0 3px 3px 0;
}

label {
  font-weight: 600;
  color: #999;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}

/* ------------------------------------------------------------ *	Callout
\* ------------------------------------------------------------ */
.callout {
  min-height: 478px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 -60px 25px;
}

.callout_mobile {
  display: none;
}

@media (max-width: 767px) {
  .callout {
    display: none;
  }
  .callout_mobile {
    display: block;
    height: 985px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 -60px 25px;
  }
}

.list {
  color: red;
}
/*# sourceMappingURL=style.css.map */