/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	background: #161616;
	position: relative;
	color: $white;
	padding: 17px 15px;

	& .logo {
		float: left;
	}
	
	& .nav-lang {
		float: right;
	}
}

.header_arrow {
	&:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		border-top: 70px solid #212121;
		border-left: 50vw solid transparent;
		border-right: 50vw solid transparent;
	}
}

@media(max-width: 767px){
	.header {
		& h1 {
			font-size: 40px;
		}
	}
}