/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

.wrapper {
	overflow: hidden;
}

#map {
		width: 100%;
		height: 238px;
}

.youTube {
	margin-bottom: 10px;
}

.article {
	text-align: center;
	width: 600px;
	margin: auto;
	color: $white;
}

.thankYou {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 70px 95px 45px;
  max-width: 920px;
  margin: auto;

  & .thankYou__title {
    font-size: 64px;
    margin-bottom: 30px;
    color: $red;
    text-transform: uppercase;
  }

  & p {
    margin-bottom: 30px;
  }
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #505050;
    margin-top: 20px;

    & i {
      color: #e32b25;
      font-size: 26px;
      margin-right: 15px;
    }

    & .info__title + .info__title {
      margin-left: 70px;
    }
}

.clearfix { 
	content: '';
	display: table;
	line-height: 0;
	clear: both;
 }


.cols {
	margin: 0 -15px;
	&:after{ 
		@extend .clearfix;
	}
}

.col { float: left; padding: 0 15px; }
.col_2of3 { width: 60%;}
.col_1of2 { width: 50%;}
.col_1of3 { width: 33.33%; }
.col_1of4 { width: 25%; }
.col_4of5 { width: 80%; }
.col_1of5 { width: 20%; }
.col_70p { width: 70%; }
.col_30p { width: 30%; }


// Variables
$input_height: 42px;
$border_radius: 6px;
$gray_light: #eee;
$gray_lighter: #f6f6f6;

// Mixins
@mixin gradient($top_color, $bottom_color) {
  background-image: -webkit-linear-gradient(top, $top_color 0%, $bottom_color 100%);
  background-image: linear-gradient(to bottom, $top_color 0%, $bottom_color 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($top_color)}', endColorstr='#{ie-hex-str($bottom_color)}', GradientType=0); // IE9 and down
}

// Hide native dropdown
select {
  display: none;
}

// Styles
.dropdown { 
	color: $white;
  background-color: $red;
  border-radius: $border_radius;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: $input_height;
  line-height: $input_height - 2;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
  height: 31px;
  line-height: 31px;
  // &:focus {
  //   background-color: darken($gray_lighter, 2%);
  // }
  // &:hover {
  //   background-color: darken($gray_lighter, 1%);
  // }
  &:active {
    background-color: darken($gray_lighter, 2.5%) !important;
    border-color: darken($gray_light, 4%);
    box-shadow: 0 1px 4px rgba(0,0,0,.05) inset;
  }
  // Arrow
  &:after { 
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $white;
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block; 
    margin-top: -2px;
    pointer-events: none;
    position: absolute; 
    right: 10px; top: 50%; 
  }
  &.open {
    &:after {
      transform: rotate(-180deg);
    }
    .list {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
    }
    .option {
      cursor: pointer;
    }
  }
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }
  .list {
    box-sizing: border-box;
    transition: all .15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity .1s linear;
    transform: scale(.75);
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
    background-color: $red;
    border-radius: $border_radius;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    z-index: 999;
  }
  .option {
    cursor: default;
    font-weight: 400;
    line-height: $input_height - 2;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    &.selected { 
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 767px) {
	.col {
		float: none;
	}

	.col_1of4,
	.col_1of2,
	.col_4of5,
	.col_1of5,
  .col_70p,
  .col_30p {
		width: 100%;
	}

	.nav-lang {
		display: none;
	}

	#map {
		margin: 0 -15px;
		margin-bottom: 35px;
	}

	.info {
		display: none;
	}

  .thankYou {
    padding: 0;
  }
}
