/* ------------------------------------------------------------ *\
	Callout
\* ------------------------------------------------------------ */

.callout {
	min-height: 478px;
	background-size: cover;
    background-repeat: no-repeat;
    margin: 0 -60px 25px;
}

.callout_mobile {
	display: none;
}

@media(max-width: 767px){
	.callout {
		display: none;
	}

	.callout_mobile {
		display: block;
	    height: 985px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    margin: 0 -60px 25px;
	}
}