/* ------------------------------------------------------------ *\
	Form elements
\* ------------------------------------------------------------ */

.field { 
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0;
	width: 100%;
	outline: 0;
	font-weight: 600;
	font-family: inherit;
}

.field_alt {
	padding: 0;
	height: 40px;
	line-height: 40px;
}

.label_block {
	display: block;
	margin-bottom: 5px;
}

.form__control {
	position: relative;
}

.form__icon {
	position: absolute;
	right: 0;
	top: 0;
	width: 43px;
	height: 40px;
	line-height: 40px;
	background: $red;
	text-align: center;
	color: $white;
	font-size: 24px;
	border-radius: 0 3px 3px 0;
}

label {
	font-weight: 600;
	color: #999;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}