/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form_center {
    max-width: 600px;
    background: white;
    margin: auto;
    padding: 37px 66px;
}

.form__row {
	margin-bottom: 24px;
}

.form__actions {
	text-align: center;
	margin-top: 35px;
}

@media(max-width: 767px){
	.form_center {
		max-width: 100%;
		padding: 17px 26px;
	}
}