// /* ------------------------------------------------------------ *\
// 	Navigations
// \* ------------------------------------------------------------ */
// nav.menu {
//     position: relative;
//     & .toggle-nav {
//         position: absolute;
//         top: -57px;
//         right: 1%;
//         & .fa-bars:before {
//             color: $red;
//         }
//     }
//     & ul {
//         display: none;
//         & li {
//             padding: 10px 0;
//             font-size: 15px;
            
//         }
//         & a {
//             color: $white!important;
//             padding: 10px 10px;
//         }
//     }
// }

// @media screen and (max-width:1024px)} {
//     nav.menu {
//         & .toggle-nav {
//             display: none;
//         }
//         & ul {
//             display: block;
//             position: absolute;
//             top: -50px;
//             left: 100px;
//             & li {
//                 display: inline-block;
//                 padding: 10px 8px;
//                 font-size: 17px;
//                 &:hover {
//                     background: none;
//                 }
//                 & a {
//                     color: $white;
//                     &:hover {
//                         border-bottom: 1px solid $white;
//                     }
//                 }
//             }
//         }
//     }
// }

nav.menu ul li a {
    color: $white !important;
}
