/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro {
	background: #212121;
	position: relative;
	
	& .article {
		margin-bottom: 40px;
	}
	
	& .intro__actions {
		text-align: center;
	}

	& .intro__head {
		padding: 30px 0 25px;
		text-align: center;
		& h1 {
			font-size: 64px;
			line-height: 1;
			text-align: center;
			color: $white;
			
			& span {
				font-weight: 400;
			}
		}
	}
} 

.intro_arrow {
	&:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		border-top: 70px solid #212121;
		border-left: 50vw solid transparent;
		border-right: 50vw solid transparent;
	}

	&:after {
		content: url(images/arrow.png);
		position: absolute;
		bottom: -110px;
		left: 50%;
		transform: translateX(-50%);
	}
}