/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {
	padding: 35px 0;
}

.section_med {
	padding: 25px 0 45px;
}

.section_xl {
	padding: 135px 0 45px;
}

.section_solid {
	background: #212121;
}

.section_background {
	background-position: center;
	background-size: cover;
}

.section__title {
	text-transform: uppercase;
	color: $red;
	padding-bottom: 10px;
	position: relative;
	text-align: center;
	font-size: 30px;
	
	&:after {
		content: url(images/title.png);
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		line-height: 0;
	}
}

.section__title-alt {
	color: $white;
}

.section__head {
	margin-bottom: 45px;
}

.title__small {
	text-transform: uppercase;
	color: $red;
	font-size: 19px;
}