/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */

/*  Colors  */
$white: #fff;
$black: #000;
$red: #bf1e2d;

/*  Base body  */
$font-family: 'Open Sans', sans-serif;
$font-weight: 400;
$font-size: 14px;
$color: $black;
$line-height: 1.6;

/*  Links  */
$color-link: $black;
$color-link-hover: underline;

/*  Shell  */
$shell: 1170px;
$shell-padding: 0 15px;