/* ------------------------------------------------------------ *\
    Reservation-section-footer
\* ------------------------------------------------------------ */

.reservation-section-footer {
    position: relative;
    background: $red;
    max-height: 150px;
    // max-height: 106px;
    &:before {
        content: "";
        width: 100%;
        display: inline-block;
        border-top: 5px dotted $red;
        position: absolute;
        top: -6px;
    }
    & .reservation-section-footer-center {
        padding: 20px 0;
        width: 330px;
        margin: 0 auto;
        height: 100%;
        & .reservation-footer-text {
            display: inline;
            font-size: $font-size-26;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            padding: 15px 0;
        }
        & img {
            width: 60px;
            height: 60px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
        }
    }
}

@media #{$desktop} {
    .reservation-section-footer {
        // height: 100%;
        .reservation-section-footer-center {
            width: 450px;
            & .reservation-footer-text {
                font-size: 44px;
            }
        }
    }
}