/* ------------------------------------------------------------ *\
    Footer-text
\* ------------------------------------------------------------ */

.cr-text {
    color: $gray;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    
}
.perspective_logo{
    color: #a1a1a1;
    display: inline-block
}
.perspective_logo:after{
    content: url("../image/perspective_icon.png");
    width: 26px;
    height: 16px;
    display: inline-block;
    padding-left: 10px;
    
    
}
@media #{$desktop} {
    .cr-text {
        text-align: left;
        display: inline-block;
        padding-top: 30px;
    }
}