/* ------------------------------------------------------------ *\
    Reservation-section
\* ------------------------------------------------------------ */

.reservation-section {
    background: $red;
    & .main {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
        // max-height: calc(100% - 106px);
        // max-height: -webkit-calc(100% - 106px);
        // max-height: -moz-calc(100% - 106px);
        // background-image: url(/eli/css/images/screen-1.jpg);
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-attachment: fixed;
        background-image: url(/eli/css/images/screen-1.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        max-height: 600px;
        height: 100%;
        font-size: 15px;
        overflow: hidden;
        position: relative;
        @media #{$tablet} {
            max-height: 80%;
        }
        @media #{$desktop} {
            max-height: 70%;
        }
    }
    & .reservation-section-form {
        width: 90%;
        background: rgba(0, 0, 0, 0.55);
        margin: 50% auto;
        @media #{$tablet} {
            width: 600px;
        }
        @media #{$desktop} {
            margin: 15% auto;
        }
    }
}