/* ------------------------------------------------------------ *\
    Service-section-content
\* ------------------------------------------------------------ */

.main-content {
    overflow: hidden;
    & .content {
        width: 90%;
        margin: 0 auto;
        color: $white;
        font-size: $font-size-13;
        line-height: 26px;
        text-align: center;
        overflow: hidden;
        & .service-inner {
            padding: 20px 0;
            & h2 {
                color: $white;
                font-size: 16px;
                text-align: center;
                padding: 20px 0;
            }
            & p {
                word-break: break-word;
                text-align: justify;
            }
        }
    }
}

@media #{$tablet} {
    .content {
        & .service-inner {
            width: 50%;
            h2 {
                // font-size: $font-size-26;
                font-size: 25px;
            }
            & p {
                width: 85%;
                margin: 0 auto;
            }
            &:nth-child(odd) {
                float: left;
                overflow: hidden;
                &:after {
                    clear: both;
                    display: block;
                    content: "";
                }
            }
            &:nth-child(even) {
                overflow: hidden;
                &:after {
                    clear: both;
                    display: block;
                    content: "";
                }
            }
        }
    }
}

@media #{$desktop} {
    .main-content {
        & .content {
            width: 980px;
            & .service-inner {
                margin-top: 10%;
                width: 25%;
                padding: 0;
                float: left;
                overflow: hidden;
                &:nth-child(even) {
                    float: left;
                    overflow: hidden;
                }
            }
        }
    }
}