/* ------------------------------------------------------------ *\
   Scroll-down
\* ------------------------------------------------------------ */

.scroll {
    display: none;
    width: 65px;
    margin: 0 auto;
    margin-top: 12px;
    font-size: 10px;
    cursor: pointer;
    &.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -moz-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-animation-name: pulse;
        -moz-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1.2s;
        -moz-animation-duration: 1.2s;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        animation-timing-function: linear;
        & .fa {
            font-size: 40px;
            margin-left: 15px;
        }
    }
    &.red {
        color: $red;
        font-weight: bold;
    }
    &.white {
        color: $white;
        font-weight: bold;
    }
    &.top {
        margin-top: -8px;
    }
    &.first-section {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        transform: scale(1);
    }
}

@media #{$desktop} {
    .scroll {
        display: block;
    }
}