/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	padding: 10px 0;
	& .copyrights {
		float: left;
		font-size: 13px;
	}

	& .credits {
		float: right;
		font-size: 13px;
	}
}

.footer_alt {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: transparent;
}