/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

.btn { 
	display: inline-block;
	vertical-align: middle;
	transition: ease-in-out .3s;
	min-width: 225px;
	height: 56px;
	line-height: 56px;
	background: $red;
	font-weight: 700;	
	padding: 0 10px;
	text-align: center;
	color: $white;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 17px;

	&:hover {
		opacity: .8;
	}
}

.btn_bordered {
	background: transparent;
	border: 2px solid $red;
	color: $red;
	line-height: 54px;
}

.btn_alt {
	height: 41px;
	line-height: 41px;
	color: $red;
	background: transparent;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.32941176470588235);
}

.btn_block {
	width: 100%;
	min-width: 100%;
}