/*-----Navigation----*/ 
nav.menu {
	position: relative;
}

.toggle-nav {
	display: block;
}

.toggle-nav {
	position: absolute;
	right: 1%;
}

a.toggle-nav{
	color: #bf1e2d!important;
}

nav.menu ul.active {
	display: none;
	width: 100%;
	float: left;
} 

nav.menu ul.active li {
	padding: 10px 0;
	font-size: 15px;
	display: block;
}
  
nav.menu ul.active li a {
	color: #fff;
	padding: 10px 10px;
}
nav.menu ul.active li:hover {
	background: #bf1e2d;
}


@media screen and (min-width: 768px) {
	.toggle-nav {
		position: absolute;
		right: 12%;
	}
}
@media screen and (min-width: 1024px) {
	.toggle-nav {
		display: none;
	}

	nav.menu ul.active {
		display: block;
		float: none;
		position: absolute;
		left: 100px;
		top: 20px;
	} 

	nav.menu ul.active li {
		display: inline-block;
		padding: 10px 8px;
        font-size: 17px;
	}

	nav.menu ul.active li:hover {
		background: inherit;
	}

	nav.menu ul.active li a:hover {
		border-bottom: 1px solid #fff;
	}
	
}
/*-----Evens-list----*/ 
.list__title {
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
}
.article__list {
	text-align: center;
	margin: 50px 0;
}
.article__title {
	font-size: 17px;
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	position: relative;
}

.article__title:after {
	display: none;
	position: absolute;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
	content: "";
	width: 7%;
    height: 1px;
    bottom: -6px;
    border-bottom: 2px solid #bf1e2d;
    left: 4%;
}

.article__title span {
	font-size: 15px;
	line-height: 21px;
	font-weight: 400;
	text-transform: capitalize;
	padding-left: 10px;
}
.article__content {
	margin: 20px 0;
	font-size: 13px;
	line-height: 21px;
	word-break: keep-all;
	font-weight: 400;
	text-align: left;
}

.article__content p {
	margin: 20px 0;
	font-size: 12px;
	line-height: 21px;
	word-break: keep-all;
	font-weight: 400;
	text-align: left;
}

.button__red {
	display: inline-block;
	vertical-align: middle;
	transition: ease-in-out .3s;
	min-width: 176px;
	height: 46px;
	line-height: 46px;
	background: #bf1e2d;
	font-weight: 700;	
	padding: 0 10px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 13px;
}

.button__red:hover {
	opacity: .8;
}
.list__footer{
	padding-bottom: 70px;
	text-align: center;
}
.button_load{
	display: inline-block;
	vertical-align: middle;
	transition: ease-in-out .3s;
	min-width: 170px;
	height: 38px;
	line-height: 38px;
	background: #fff;
	font-weight: 700;	
	padding: 0 10px;
	text-align: center;
	color: #000;
	border-radius: 3px;
	border: 1px solid #000;
	text-transform: uppercase;
	font-size: 13px;
}

.info i {
	font-size: 36px;
}

.info .info__title {
	display: flex;
	align-items: center;
}

@media only screen and (min-width:1024px){
	.article__list{
		overflow: hidden;
		clear: both;
		position: relative;
	}
	.list__img{
		width: 30%;
		float: left;
	}
	.article__inside{
		width: 70%;
		min-width: 550px;
		float: left;
		text-align: left;
	}
	.article__content{
		width: 550px;
	}
	.article__title {
		margin: 0 0 10px 0;
	}
	.article__title:after{
		display: block;
	}
	.event__img{
		max-width: 252px;
	}
	.button__red{
		position:absolute;
		bottom: 0;
	}
	.main__events{
		min-height: 800px;
	}
}

/*------- ERRORS ------*/
.alert.alert-danger li {
    background: #fff;
    background-image: url("/eli/css/images/alert-danger-icon.png");
    background-repeat: no-repeat;
    background-position: center left 3px;
    border-radius: 4px;
    padding: 10px 0;
    margin-bottom: 5px;
    text-indent: 30px;
    list-style-type: none;
}

.alert.alert-danger {
    width: 57%;
    margin: 10px auto;
    background: none;
    z-index: 10;
    border: none;
}

.sortie-page .alert.alert-danger {
    width: 48%;
    margin: auto;
    background: none;
    z-index: 10;
}

.sortie-page .alert.alert-danger li {
    border: 1px solid #bf1e2d;
}

@media only screen and (min-width: 320px) and (max-width: 1022px) {
    .sortie-page .alert.alert-danger {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .alert.alert-danger {
        width: 100%;
    }

    .callout_mobile {
		height: 215px;
    }

	.info {
		display: block;
	}

	.info .info__title {
		font-size: 18px;
		margin-bottom: 10px;
		text-align: left;
	}

	.info .info__title + .info__title {
		margin-left: 0;
	}

	.article {
		width: 100%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .alert.alert-danger li {
        font-size: 13px!important;
    }
}

/* ---- End Errors -----*/