/* ------------------------------------------------------------ *    Imports
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *    Variables
\* ------------------------------------------------------------ */
/*  Colors  */
/*  Base body  */
/*  @media */
/* ------------------------------------------------------------ *	Reset
\* ------------------------------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

input {
  outline: none;
}

/* ------------------------------------------------------------ *	Base
\* ------------------------------------------------------------ */
body {
  width: 100%;
  height: 100%;
  min-height: 320px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #bf1e2d;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 26px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: #bf1e2d;
}

/* ------------------------------------------------------------ *	Helpers
\* ------------------------------------------------------------ */
.clearfix {
  content: '';
  display: block;
  line-height: 0;
  clear: both;
}

/* ------------------------------------------------------------ *	Header
\* ------------------------------------------------------------ */
.header {
  background: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0;
  z-index: 111;
  width: 100%;
}

.header .shell {
  float: right;
  margin-right: 20px;
}

.header .header-inner {
  width: 90%;
  margin: 0 auto;
}

.header .logo {
  display: inline-block;
}

@media only screen and (min-width: 1000px) {
  .header .header-inner {
    width: 980px;
    margin: 0 auto;
  }
}

/* ------------------------------------------------------------ *    Shell
\* ------------------------------------------------------------ */
.shell a.shop-car {
  background: url("/eli/css/images/shopping-cart.png") no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.shell .button-login {
  font-size: 16px;
  color: #fff;
  font-family: "Myriad Pro";
  transition: all 0.5s ease;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  padding-bottom: 5px;
}

.shell .user {
  background: url("/eli/css/images/user.png") no-repeat 3px 3px;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.shell a.exit {
  background: url("/eli/css/images/exit.png") no-repeat 3px 3px;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

/* ------------------------------------------------------------ *   Modal
\* ------------------------------------------------------------ */
.ui-dialog .ui-dialog-titlebar {
  background: none;
  color: transparent;
  border: none;
  z-index: 112;
}

form {
  background: none;
  color: #000;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

form .form-group label {
  display: inline-block;
  max-width: 100%;
  margin: 10px 0;
  text-indent: 2%;
}

form .form-group .form-control {
  display: block;
  width: 95%;
  padding: 5px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn.btn-link {
  font-weight: bold;
  text-indent: 20px;
  float: left;
  margin-top: 20px;
}

input.button {
  background: #bf1e2d;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 13px;
  float: right;
  margin: 10px 10px 0 0;
}

.answer {
  margin: 0 10px 10px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/* ------------------------------------------------------------ *	Navigations
\* ------------------------------------------------------------ */
nav.menu {
  position: relative;
}

nav.menu .toggle-nav {
  position: absolute;
  top: -57px;
  right: 1%;
}

nav.menu .toggle-nav .fa-bars:before {
  color: #bf1e2d;
}

nav.menu ul {
  display: none;
}

nav.menu ul li {
  padding: 10px 0;
  font-size: 15px;
}

nav.menu ul li:hover {
  background-color: #bf1e2d;
}

nav.menu ul a {
  color: #fff;
  padding: 10px 10px;
}

@media only screen and (min-width: 1000px) {
  nav.menu .toggle-nav {
    display: none;
  }
  nav.menu ul {
    display: block;
    position: absolute;
    top: -50px;
    left: 100px;
  }
  nav.menu ul li {
    display: inline-block;
    padding: 10px 8px;
    font-size: 17px;
  }
  nav.menu ul li:hover {
    background: none;
  }
  nav.menu ul li a {
    color: #fff;
  }
  nav.menu ul li a:hover {
    border-bottom: 1px solid #fff;
  }
}

/* ------------------------------------------------------------ *	Select-language
\* ------------------------------------------------------------ */
.select-lang {
  display: none;
  background: #bf1e2d;
  border-radius: 4px;
  width: 47px;
  padding: 2px 0;
  margin-left: 10px;
  margin-top: 10px;
}

.select-lang select {
  background: url("/eli/css/images/polygon.png") no-repeat 80% 50%;
  color: #fff;
  font-size: 16px;
  text-indent: 3px;
  border: none;
  width: 47px;
  padding: 6px;
}

.select-lang select option {
  color: #000;
}

@media only screen and (min-width: 1000px) {
  .select-lang {
    display: block;
    position: absolute;
    right: 0;
    top: -57px;
  }
}

/* ------------------------------------------------------------ *    Reservation-section
\* ------------------------------------------------------------ */
.reservation-section {
  background: #bf1e2d;
}

.reservation-section .main {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  background-image: url(/eli/css/images/screen-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 600px;
  height: 100%;
  font-size: 15px;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .reservation-section .main {
    max-height: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  .reservation-section .main {
    max-height: 70%;
  }
}

.reservation-section .reservation-section-form {
  width: 90%;
  background: rgba(0, 0, 0, 0.55);
  margin: 50% auto;
}

@media only screen and (min-width: 768px) {
  .reservation-section .reservation-section-form {
    width: 600px;
  }
}

@media only screen and (min-width: 1000px) {
  .reservation-section .reservation-section-form {
    margin: 15% auto;
  }
}

/* ------------------------------------------------------------ *    User-section
\* ------------------------------------------------------------ */
.user-section {
  background: url("/eli/css/images/background.png") repeat;
}

.user-section .user-section-inner {
  background: #bf1e2d url("/eli/css/images/User_profile.jpg") no-repeat top;
  width: 100%;
  height: 140px;
  position: relative;
}

.user-section .reservation-section-footer {
  background: #bf1e2d;
}

/* ------------------------------------------------------------ *    Group-buttons
\* ------------------------------------------------------------ */
.buttons-group {
  width: 90%;
  margin: 0 auto;
}

.buttons-group .buttons-inner {
  width: 100%;
}

.buttons-group .buttons-inner input[type="button"] {
  width: 100%;
  height: 68px;
  border-radius: 4px;
  background: #333;
  border: none;
  color: #fff;
  font-size: 14px;
  margin: 10px 0;
}

.buttons-group .buttons-inner input[type="button"]:hover {
  background-color: #bf1e2d;
}

@media only screen and (min-width: 480px) {
  .buttons-group .buttons-inner input[type="button"] {
    width: 45%;
    margin: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .buttons-group .buttons-inner input[type="button"] {
    width: 31%;
    font-size: 24px;
  }
}

@media only screen and (min-width: 1000px) {
  .buttons-group {
    width: 980px;
  }
}

/* ------------------------------------------------------------ *   Full-form
\* ------------------------------------------------------------ */
.full-form {
  width: 90%;
  margin: 10px auto;
}

.full-form .address-form {
  width: 100%;
}

.full-form .address-form .title-form {
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.full-form .address-form .title-form span {
  color: #bf1e2d;
}

@media only screen and (min-width: 1000px) {
  .full-form {
    width: 980px;
    margin: 10px auto;
  }
  .full-form .address-form .title-form {
    font-size: 35px;
  }
}

/* ------------------------------------------------------------ *    User-address-form
\* ------------------------------------------------------------ */
@media only screen and (min-width: 1000px) {
  .user-address-form {
    width: 60%;
    float: left;
  }
  .user-address-form label {
    font-size: 18px;
  }
}

/* ------------------------------------------------------------ *    Input-block
\* ------------------------------------------------------------ */
.input-block {
  display: block;
  width: 95%;
  height: 40px;
  font-size: 13px;
  color: #a1a1a1;
  margin: 15px 0;
  border: 1px solid #a1a1a1;
  text-indent: 15px;
}

@media only screen and (min-width: 480px) {
  .input-block {
    font-size: 16px;
  }
}

/* ------------------------------------------------------------ *    Fieldset
\* ------------------------------------------------------------ */
fieldset {
  display: inline-block;
}

fieldset .fieldset-block {
  display: block;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid #a1a1a1;
}

fieldset.right {
  margin-left: 2%;
}

/* ------------------------------------------------------------ *    Car-selection
\* ------------------------------------------------------------ */
.car-selection {
  margin: 0 auto;
  width: 90%;
}

@media only screen and (min-width: 1000px) {
  .car-selection {
    float: left;
    width: 40%;
  }
}

/* ------------------------------------------------------------ *    Choose-car
\* ------------------------------------------------------------ */
.choose-car {
  border: 1px solid #bf1e2d;
  border-radius: 4px;
  background: #fff;
  padding: 35px 30px;
  position: relative;
  margin: 27px 0;
}

.choose-car p {
  font-size: 13px;
  padding: 7px 0;
}

.choose-car p span {
  font-size: 15px;
  padding-left: 30px;
}

.choose-car .choose {
  position: absolute;
  bottom: 25px;
  right: 35px;
  color: #fff;
  text-transform: uppercase;
  background: #bf1e2d;
  width: 155px;
  height: 40px;
  border: 1px solid #bf1e2d;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 20px;
}

.choose-car .chosen {
  background-color: #333;
  color: #fff;
}

@media only screen and (min-width: 480px) {
  .choose-car p {
    font-size: 15px;
  }
  .choose-car p span {
    font-size: 20px;
  }
  .choose-car input {
    font-size: 23px;
    bottom: 35px;
  }
}

/* ------------------------------------------------------------ *   Submit
\* ------------------------------------------------------------ */
.submit {
  margin: 20px 0;
}

.submit input.submit {
  font-size: 26px;
  color: #fff;
  background: #67b962;
  display: block;
  width: 257px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #67b962;
  margin: 0 auto;
}

/* ------------------------------------------------------------ *    Form
\* ------------------------------------------------------------ */
.input-inline label,
.input-inline_time label {
  color: #fff;
  display: block;
  padding: 10px 0;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .input-inline label,
  .input-inline_time label {
    padding: 30px 0 10px;
  }
}

.input-inline,
.input-inline_time {
  width: 267px;
  display: block;
  margin: 0 auto;
}

.input-inline input,
.input-inline_time input {
  width: 267px;
  height: 35px;
  border-radius: 4px;
  border: none;
  text-indent: 17px;
  color: #a1a1a1;
  font-size: 14px;
  padding: 0!important;
}

.form_control,
.form_control_time {
  position: relative;
}

.form_control:after,
.form_control_time:after {
  content: "";
  display: block;
  position: absolute;
  width: 46px;
  height: 35px;
  right: -3px;
  background: #bf1e2d;
  top: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.form_control:before {
  content: url("/eli/css/images/calendar.png");
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 10px;
  z-index: 1;
}

.form_control_time:before {
  content: url("/eli/css/images/clock.png");
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 10px;
  z-index: 1;
}

.hasError {
  background: #ffe6e8;
}

.ui-timepicker-wrapper {
  min-width: 270px;
  max-width: 270px;
}

@media only screen and (min-width: 768px) {
  .reservation-section-form .form_row {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .input-inline {
    display: inline-block;
    margin-right: 15px;
  }
  .input-inline_time {
    margin: 0;
    width: 168px;
    display: inline-block;
  }
  .input-inline_time input {
    width: 168px;
    height: 35px;
  }
  .ui-timepicker-wrapper {
    min-width: 170px;
    max-width: 170px;
  }
}

/* ------------------------------------------------------------ *    Form-button
\* ------------------------------------------------------------ */
.reservation-button {
  width: 203px;
  margin: 0 auto;
}

.reservation-button button {
  width: 203px;
  height: 46px;
  border-radius: 4px;
  background: #bf1e2d;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0;
}

@media only screen and (min-width: 1000px) {
  .reservation-button button {
    margin: 30px 0;
  }
}

/* ------------------------------------------------------------ *    Reservation-section-footer
\* ------------------------------------------------------------ */
.reservation-section-footer {
  position: relative;
  background: #bf1e2d;
  max-height: 150px;
}

.reservation-section-footer:before {
  content: "";
  width: 100%;
  display: inline-block;
  border-top: 5px dotted #bf1e2d;
  position: absolute;
  top: -6px;
}

.reservation-section-footer .reservation-section-footer-center {
  padding: 20px 0;
  width: 330px;
  margin: 0 auto;
  height: 100%;
}

.reservation-section-footer .reservation-section-footer-center .reservation-footer-text {
  display: inline;
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

.reservation-section-footer .reservation-section-footer-center img {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

@media only screen and (min-width: 1000px) {
  .reservation-section-footer .reservation-section-footer-center {
    width: 450px;
  }
  .reservation-section-footer .reservation-section-footer-center .reservation-footer-text {
    font-size: 44px;
  }
}

/* ------------------------------------------------------------ *    Content-section
\* ------------------------------------------------------------ */
.content-section {
  background: url("/eli/css/images/background.png") repeat;
}

.content-section .main-content {
  padding: 30px 0 5px;
}

.content-section .main-content .main-content-inner {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

@media only screen and (min-width: 1000px) {
  .content-section .main-content .main-content-inner {
    width: 980px;
  }
}

.content-section .main-content h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #bf1e2d;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 4px dotted #bf1e2d;
}

@media only screen and (min-width: 768px) {
  .content-section .main-content h1 {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------ *    Content-section-text
\* ------------------------------------------------------------ */
.text {
  padding: 40px 0;
  color: #000;
  font-size: 13px;
  line-height: 30px;
}

.text p {
  word-break: break-word;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1000px) {
  .text {
    padding-top: 15%;
  }
}

/* ------------------------------------------------------------ *    Reservation-wrapper
\* ------------------------------------------------------------ */
.reservation-wrapper {
  background: #333;
  padding: 10% 0;
}

@media only screen and (min-width: 480px) {
  .reservation-form-wrapper {
    width: 80%;
    border: 1px solid #a1a1a1;
    margin: 0 auto;
    padding: 20px 0 40px;
  }
  .reservation-form-wrapper .wrapper {
    width: 300px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) {
  .reservation-wrapper {
    padding: 34px 0;
  }
  .reservation-wrapper .reservation-form-wrapper {
    width: 880px;
  }
  .reservation-wrapper .reservation-form-wrapper .wrapper {
    width: 540px;
    margin: 0 auto;
  }
}

/* ------------------------------------------------------------ *  Parking-selection
\* ------------------------------------------------------------ */
@media only screen and (min-width: 480px) {
  .parking-wrapper {
    width: 350px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) {
  .parking-selection {
    width: 780px;
    margin: 0 auto;
  }
  .parking-selection:after {
    clear: both;
    content: "";
    display: block;
  }
  .parking-selection .parking-wrapper {
    margin: 50px 20px 0;
    float: left;
  }
}

/* ------------------------------------------------------------ *  Self-parking
\* ------------------------------------------------------------ */
.self-parking {
  background: #bf1e2d;
  width: 267px;
  margin: 0 auto;
  padding: 50px 10px;
  border-radius: 4px;
  position: relative;
  margin-top: 50px;
}

.self-parking figure {
  display: inline-block;
}

.self-parking .parking-inner {
  float: right;
  text-align: center;
  color: #fff;
}

.self-parking .parking-inner h2 {
  font-size: 16px;
  padding-bottom: 15px;
  margin-top: -20px;
}

.self-parking .parking-inner .currency {
  text-transform: uppercase;
  font-size: 26px;
  padding-top: 15px;
}

@media only screen and (min-width: 480px) {
  .self-parking {
    width: 300px;
    padding: 26px;
  }
}

@media only screen and (min-width: 1000px) {
  .self-parking {
    width: 360px;
    padding: 60px 29px;
    margin-top: 50px;
    font-size: 16px;
    margin: 0;
  }
  .self-parking .parking-inner h2 {
    font-size: 26px;
  }
  .self-parking .parking-inner .currency {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------ *  Private-parking
\* ------------------------------------------------------------ */
.private-parking {
  background: #fff;
  width: 267px;
  margin: 0 auto;
  padding: 50px 10px;
  border-radius: 4px;
  position: relative;
  margin-top: 50px;
}

.private-parking figure {
  display: inline-block;
}

.private-parking .parking-inner {
  float: right;
  text-align: center;
  color: #000;
}

.private-parking .parking-inner h2 {
  font-size: 16px;
  padding-bottom: 15px;
  color: #000;
  margin-top: -20px;
}

.private-parking .parking-inner .currency {
  text-transform: uppercase;
  font-size: 26px;
  padding-top: 15px;
}

@media only screen and (min-width: 480px) {
  .private-parking {
    width: 300px;
    padding: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .private-parking {
    width: 360px;
    padding: 60px 23px;
    font-size: 16px;
    margin: 0;
  }
  .private-parking .parking-inner h2 {
    font-size: 26px;
  }
  .private-parking .parking-inner .currency {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------ *  Tooltip
\* ------------------------------------------------------------ */
.tooltip img {
  position: absolute;
  top: 6px;
  right: 10px;
}

.tooltip span {
  width: 267px;
  height: 49px;
  font-size: 12px;
  background: #e1e1e1;
  border-radius: 4px;
  visibility: hidden;
  padding: 5px;
  position: absolute;
  top: -49px;
  right: 0;
}

.tooltip:hover span {
  visibility: visible;
}

@media only screen and (min-width: 1000px) {
  .tooltip img {
    top: 10px;
  }
}

/* ------------------------------------------------------------ *  Carwash-selection
\* ------------------------------------------------------------ */
.carwash-selection {
  width: 300px;
  margin: 40px auto 0;
}

.carwash-selection p {
  font-size: 16px;
  color: #fff;
  font-weight: font-weight-2;
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .carwash-selection p {
    text-align: left;
    text-indent: 10px;
  }
}

.carwash-selection .image-wrapper {
  display: none;
  position: absolute;
  left: 12px;
  top: 23px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
}

.carwash-selection .image-wrapper img {
  position: absolute;
  left: 4px;
  top: 6px;
}

@media only screen and (min-width: 480px) {
  .carwash-selection .image-wrapper {
    display: block;
  }
}

/* ------------------------------------------------------------ *    Form-radio-selection
\* ------------------------------------------------------------ */
.radio-selection {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.radio-selection .container {
  width: 300px;
  margin: 0 auto;
  display: block;
  position: relative;
  padding-left: 29px;
  line-height: 20px;
  cursor: pointer;
  color: #a1a1a1;
}

.radio-selection .container input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio-selection .container input[type="radio"]:checked ~ .checkmark {
  background-color: #bf1e2d;
}

.radio-selection .container .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 3px solid #fff;
  border-radius: 100%;
  background: #fff;
  margin-left: 10px;
}

@media only screen and (min-width: 480px) {
  .radio-selection {
    width: 400px;
    margin: 0 auto;
  }
}

/* ------------------------------------------------------------ *    Reservation-form-button
\* ------------------------------------------------------------ */
.reservation-form-button {
  width: 100%;
  margin: 0 auto;
}

.reservation-form-button button {
  width: 100%;
  height: 46px;
  border-radius: 10px;
  background: #bf1e2d;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 30px 0 0;
}

@media only screen and (min-width: 480px) {
  .reservation-form-button {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  .reservation-form-button {
    width: 880px;
  }
  .reservation-form-button button {
    width: 880px;
  }
}

/* ------------------------------------------------------------ *    Reservation-form-footer
\* ------------------------------------------------------------ */
.footer-reservation-form {
  background: #716f6f;
}

.footer-reservation-form .footer-inner {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

@media only screen and (min-width: 1000px) {
  .footer-reservation-form .footer-inner {
    width: 980px;
  }
}

.footer-reservation-form .footer-inner .reservation-form-payments {
  width: 310px;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .footer-reservation-form .footer-inner .reservation-form-payments {
    float: right;
  }
}

.footer-reservation-form .footer-inner ul li {
  display: inline-block;
}

.footer-reservation-form .footer-inner ul li img.round-border {
  border-radius: 6px;
  width: 58px;
  height: 36px;
}

.footer-reservation-form .footer-inner ul li img.image-center {
  width: 58px;
  height: 36px;
}

.cr-text {
  color: #a1a1a1;
  font-size: 13px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}

/* ------------------------------------------------------------ *    Service-section
\* ------------------------------------------------------------ */
.service-section {
  background-color: #bf1e2d;
  margin-top: -1px;
  overflow: auto;
}

.service-section .upper-main-content {
  background: url("/eli/css/images/background.png") repeat;
  padding-top: 30px;
  border-bottom: 4px dotted #bf1e2d;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #bf1e2d;
  text-align: center;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------ *    Service-section-content
\* ------------------------------------------------------------ */
.main-content {
  overflow: hidden;
}

.main-content .content {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  overflow: hidden;
}

.main-content .content .service-inner {
  padding: 20px 0;
}

.main-content .content .service-inner h2 {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
}

.main-content .content .service-inner p {
  word-break: break-word;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .content .service-inner {
    width: 50%;
  }
  .content .service-inner h2 {
    font-size: 25px;
  }
  .content .service-inner p {
    width: 85%;
    margin: 0 auto;
  }
  .content .service-inner:nth-child(odd) {
    float: left;
    overflow: hidden;
  }
  .content .service-inner:nth-child(odd):after {
    clear: both;
    display: block;
    content: "";
  }
  .content .service-inner:nth-child(even) {
    overflow: hidden;
  }
  .content .service-inner:nth-child(even):after {
    clear: both;
    display: block;
    content: "";
  }
}

@media only screen and (min-width: 1000px) {
  .main-content .content {
    width: 980px;
  }
  .main-content .content .service-inner {
    margin-top: 10%;
    width: 25%;
    padding: 0;
    float: left;
    overflow: hidden;
  }
  .main-content .content .service-inner:nth-child(even) {
    float: left;
    overflow: hidden;
  }
}

/* ------------------------------------------------------------ *    Content-section
\* ------------------------------------------------------------ */
.content-section {
  background: url("/eli/css/images/background.png") repeat;
}

.content-section .main-content {
  padding: 30px 0 5px;
}

.content-section .main-content .main-content-inner {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

@media only screen and (min-width: 1000px) {
  .content-section .main-content .main-content-inner {
    width: 980px;
  }
}

.content-section .main-content h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #bf1e2d;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 4px dotted #bf1e2d;
}

@media only screen and (min-width: 768px) {
  .content-section .main-content h1 {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------ *    Content-section-table
\* ------------------------------------------------------------ */
.table {
  width: 100%;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #bf1e2d;
  font-size: 14px;
}

.table table.left,
.table table.right {
  width: 100%;
  border-collapse: initial;
}

.table table.left thead,
.table table.right thead {
  display: table-header-group;
  color: #fff;
  font-size: 15px;
  background: #bf1e2d;
  outline: 1px solid #bf1e2d;
}

.table table.left thead th,
.table table.right thead th {
  padding: 10px 0;
}

.table table.left tbody tr td,
.table table.right tbody tr td {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  background: #f8f8f8;
  border: 1px solid #fff;
}

.table table.left tbody tr td.title,
.table table.right tbody tr td.title {
  background: #f8e6e8;
}

.table table.left tbody :hover,
.table table.right tbody :hover {
  font-weight: bold;
}

.table table.right thead {
  display: none;
}

@media only screen and (min-width: 768px) {
  .table {
    font-size: 16px;
  }
  .table table.left,
  .table table.right {
    width: 50%;
    float: left;
  }
  .table table.left tbody tr td,
  .table table.right tbody tr td {
    width: 170px;
  }
  .table table.right thead {
    display: table-header-group;
  }
  .table:after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .table {
    width: 980px;
  }
}

/* ------------------------------------------------------------ *    Table-reservation-button
\* ------------------------------------------------------------ */
.table-reservation-button {
  width: 100%;
  margin: 0 auto;
}

.table-reservation-button .table-button {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background: #bf1e2d;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px 0 0;
}

@media only screen and (min-width: 1000px) {
  .table-reservation-button .table-button {
    font-size: 20px;
  }
}

/* ------------------------------------------------------------ *    Option-section
\* ------------------------------------------------------------ */
.option-section {
  color: #000;
  border-top: 4px dotted #bf1e2d;
}

.option-section .main-content {
  padding: 30px 0;
}

.option-section .main-content-inner {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .option-section {
    border-top: none;
  }
  .option-section .main-content-inner {
    width: 980px;
  }
  .option-section:after {
    display: block;
    clear: both;
    content: "";
  }
}

/* ------------------------------------------------------------ *    Option-section-accordion
\* ------------------------------------------------------------ */
.accordion {
  width: 300px;
  margin: 0 auto;
}

.accordion h3 {
  font-size: 16;
  font-weight: bold;
  padding: 20px 0;
  color: #bf1e2d;
  text-align: center;
}

.accordion-section-title {
  cursor: pointer;
  display: inline-flex;
  line-height: 16px;
  font-weight: bold;
  font-size: 13px;
  padding: 15px 0;
  word-break: break-word;
}

.accordion-section-title::before {
  content: url("/eli/css/images/arrow-down.png");
  display: inline;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

.accordion-section-content {
  display: none;
  font-size: 13px;
  word-break: break-word;
  color: #333;
  width: 85%;
  margin: 0 auto;
  line-height: 16px;
}

.active {
  color: #bf1e2d;
}

.accordion-section-title.active::before {
  content: url("/eli/css/images/arrow-up.png");
  display: inline;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

@media only screen and (min-width: 1000px) {
  .accordion {
    width: 33%;
    float: left;
    padding: 0 15px;
    margin-top: 200px;
  }
  .accordion h3 {
    font-size: font-size-21;
  }
  .accordion:last-child {
    float: right;
  }
  .accordion ::after {
    clear: both;
    display: block;
    content: "";
  }
  .accordion .accordion-section-title {
    font-size: 15px;
  }
}

/* ------------------------------------------------------------ *    Footer
\* ------------------------------------------------------------ */
.footer {
  background-color: #333;
}

.footer .footer-inner {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

@media only screen and (min-width: 1000px) {
  .footer .footer-inner {
    width: 980px;
  }
  .footer .footer-inner .footer-image-center {
    width: 500px;
    float: right;
  }
}

/* ------------------------------------------------------------ *	Footer-contact
\* ------------------------------------------------------------ */
.contact {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.contact p {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
  display: none;
}

.contact p:before {
  content: url("/eli/css/images/phone.png");
  display: inline-block;
  vertical-align: middle;
  padding-right: 40px;
}

.contact .conditionsInit {
  font-size: 20px;
  color: #fff;
  text-align: center;
  display: block;
  margin: 10px 0;
}

@media only screen and (min-width: 1000px) {
  .contact {
    float: left;
  }
  .contact p {
    display: inline-block;
  }
  .conditionsInit {
    text-align: left;
  }
}

/* ------------------------------------------------------------ *  Footer-clients
\* ------------------------------------------------------------ */
.clients {
  width: 200px;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .clients {
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
  }
}

/* ------------------------------------------------------------ *	Footer-payments
\* ------------------------------------------------------------ */
.payments {
  width: 251px;
  margin: 20px auto;
}

.payments ul li {
  display: inline-block;
}

.payments ul li img {
  width: 93px;
  height: 36px;
}

.payments ul li img.round-border {
  border-radius: 6px;
  width: 58px;
}

.payments ul li img.image-center {
  width: 58px;
  height: 36px;
  margin-bottom: 22px;
  margin-left: 2px;
}

@media only screen and (min-width: 1000px) {
  .payments {
    display: inline-block;
    vertical-align: middle;
  }
}

/* ------------------------------------------------------------ *    Footer-text
\* ------------------------------------------------------------ */
.cr-text {
  color: #a1a1a1;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .cr-text {
    text-align: left;
    display: inline-block;
    padding-top: 30px;
  }
}

/* ------------------------------------------------------------ *	Footer-payments
\* ------------------------------------------------------------ */
.social {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
}

.social a {
  color: #a1a1a1;
}

.social a:after {
  content: url("/eli/css/images/fb.png");
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}

@media only screen and (min-width: 1000px) {
  .social {
    padding-top: 23px;
    float: right;
  }
}

/* ------------------------------------------------------------ *    Errors
\* ------------------------------------------------------------ */
.alert.alert-danger {
  position: absolute;
  top: 5%;
  color: #bf1e2d;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  z-index: 111;
}

.alert.alert-danger li {
  background: #fff;
  background-image: url("/eli/css/images/alert-danger-icon.png");
  background-repeat: no-repeat;
  background-position: center left 3px;
  border-radius: 4px;
  padding: 10px 0;
  margin-bottom: 5px;
  text-indent: 30px;
}

@media only screen and (min-width: 768px) {
  .alert.alert-danger {
    font-size: 14px;
    width: 600px;
    top: 22%;
  }
}

@media only screen and (min-width: 1000px) {
  .alert.alert-danger {
    top: 5%;
  }
}

@media only screen and (min-width: 1400px) {
  .alert.alert-danger {
    top: 10%;
  }
}

@media only screen and (min-width: 1600px) {
  .alert.alert-danger {
    top: 15%;
  }
}

/* ------------------------------------------------------------ *   Scroll-down
\* ------------------------------------------------------------ */
.scroll {
  display: none;
  width: 65px;
  margin: 0 auto;
  margin-top: 12px;
  font-size: 10px;
  cursor: pointer;
}

.scroll.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

.scroll.animated .fa {
  font-size: 40px;
  margin-left: 15px;
}

.scroll.red {
  color: #bf1e2d;
  font-weight: bold;
}

.scroll.white {
  color: #fff;
  font-weight: bold;
}

.scroll.top {
  margin-top: -8px;
}

.scroll.first-section {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (min-width: 1000px) {
  .scroll {
    display: block;
  }
}

/* ------------------------------------------------------------ * Parking-service
\* ------------------------------------------------------------ */
.parking-service-section {
  background: url(/eli/css/images/background.png) repeat;
}

.parking-service-section .main-content-inner {
  width: 90%;
  margin: 0 auto;
}

.parking-service-section .main-content-inner h2 {
  font-size: 16px;
  color: #000;
  text-align: center;
  font-weight: 400;
  padding: 20px 0;
}

.parking-service-section .main-content-inner .parking-service {
  margin-bottom: 20px;
}

.parking-service-section .main-content-inner .parking-service .normal-parking {
  background: url(/eli/css/images/normal-parking.png) no-repeat left center;
  height: auto;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 4px dotted #bf1e2d;
  word-break: keep-all;
  height: 100px;
}

.parking-service-section .main-content-inner .parking-service .normal-parking p {
  text-align: left;
  margin-left: 100px;
  margin-top: 5px;
  padding-top: 22px;
  color: #bf1e2d;
  word-break: keep-all;
  padding: 16px 0;
}

.parking-service-section .main-content-inner .parking-service .normal-parking span {
  font-weight: 600;
}

.parking-service-section .main-content-inner .parking-service .vip-parking {
  background: url(/eli/css/images/vip-parking.png) no-repeat left center;
  height: auto;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 4px dotted #bf1e2d;
  word-break: keep-all;
  height: 100px;
}

.parking-service-section .main-content-inner .parking-service .vip-parking p {
  text-align: left;
  margin-left: 100px;
  margin-top: 5px;
  padding-top: 22px;
  color: #bf1e2d;
  word-break: keep-all;
  padding: 16px 0;
}

.parking-service-section .main-content-inner .parking-service .vip-parking span {
  font-weight: 600;
}

.parking-service-section .main-content-inner .parking-service p {
  font-size: 13px;
  font-weight: 400;
  color: #000;
  margin-top: 10px;
  line-height: 20px;
}

.parking-reservation-button {
  width: 100%;
  margin: 0 auto;
}

.parking-reservation-button .parking-button {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background: #bf1e2d;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .parking-service-section .parking-service {
    width: 50%;
    float: left;
    overflow: hidden;
    padding: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .parking-service-section {
    padding-top: 5%;
  }
  .parking-service-section .main-content-inner {
    width: 980px;
  }
  .parking-service-section .main-content-inner h2 {
    font-size: 25px;
  }
  .parking-service-section .main-content-inner .parking-service {
    width: 49%;
    margin: 20px 4px;
  }
  .parking-service-section .main-content-inner .parking-service .vip-parking p {
    font-size: 16px;
  }
  .parking-service-section .main-content-inner .parking-service .normal-parking p {
    font-size: 16px;
  }
  .parking-service-section .main-content-inner .parking-service p {
    font-size: 16px;
  }
  .scroll-down {
    margin-top: 10px;
  }
}
.perspective_logo{
  color: #a1a1a1;
  display: inline-block;
}
.perspective_logo:after{
  content: url("../css/images/perspective_icon.png");
  display: inline-block;
  width: 26px;
  height: 16px;
  padding-left: 10px;
  
}
/*# sourceMappingURL=style.css.map */